

header{
  height: 100%;
  margin: auto;
  text-align: center;
}
body{
  background-image: url(./src/landscape1.avif);
  background-size: cover;
}
#textoCronometro{
  width: 100%;
  font-weight: bold;
}
.row{
  background-color: rgba(0, 0, 0, 0.471);
  padding-top: 2%;
}
form{
  margin: auto;
  padding: auto;
  width: 80%;
}
form label{
  color: black;
}
.formulario{
  padding: 1% 0% 1% 0%;
}
.buttonsMenu{
    border-radius: 5px;
}
.buttonsMenu button{
    margin-top: 10px;
}



