  <!-- start section python -->
  <section id="python" class="p-5">
    <div class="container">
      <div class="title-section d-flex justify-content-end pb-5">
        <img src="assets/imgs/imgDevNotes/iconPython.png" class="img-fluid" alt="" style="width: 60px;">
        <h1 class="text-center">Python</h1>
      </div>
      <!-- <h1 class="text-center"><code class="w-50">&lt;&gt;</code>Vue js<code>&lt;&gt;</code></h1> -->
      <div class="d-flex content-justify-start">
        <h2>Flask</h2>
        <img src="assets/imgs/imgDevNotes/iconFlask.png" class="img-fluid" alt="" style="width: 60px;">
      </div>
      <!-- start flask-course-youtube -->
      <div id="flask-course-youtube" class="row pb-5">
        <div class="col-12 col-md-6 pb-5">
          <h6>Iniciar proyecto en modo debug</h6>
          <pre><code [highlight]="newProjectFlask" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
        </div>
        <div class="col-12 col-md-6 pb-5">
          <h6>Videos en español</h6>
          <iframe src="https://www.youtube.com/embed/W-SfC_V7P6o"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <h2>Notas curso</h2>
        <div id="flask-concepts">
          <!-- start flask-concepts-one -->
          <div id="flask-concepts-one" class="row mt-5">
            <div class="col-md">
              <div class="row">
                <div class="col-12 col-md-5">
                  <div class="list-group" id="list-tab" role="tablist">
                    <a class="bg-dark text-light list-group-item list-group-item-action active" id="list-one-list" data-bs-toggle="list" href="#list-flask-one" role="tab" aria-controls="list-home">Depurador de Flask</a>
                    <a class="bg-dark text-light list-group-item list-group-item-action" id="list-two-list" data-bs-toggle="list" href="#list-flask-two" role="tab" aria-controls="list-home">Rutas y vistas</a>
                    <a class="bg-dark text-light list-group-item list-group-item-action" id="list-three-list" data-bs-toggle="list" href="#list-flask-three" role="tab" aria-controls="list-home">Variables en Rutas</a>
                    <a class="bg-dark text-light list-group-item list-group-item-action" id="list-four-list" data-bs-toggle="list" href="#list-flask-four" role="tab" aria-controls="list-home">Escape en HTML</a>
                  </div>
                </div>
                <div class="col-12 col-md-7">
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-flask-one" role="tabpanel" aria-labelledby="list-one-list">
                      <h6>Iniciar proyecto en modo debug</h6>
                      <pre><code [highlight]="newProjectFlask" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
                    </div>
                    <div class="tab-pane fade" id="list-flask-two" role="tabpanel" aria-labelledby="list-two-list">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates sed voluptatum ipsum repellat accusantium doloribus ab laborum, cumque eius temporibus reprehenderit sunt velit accusamus nostrum, rerum delectus alias, molestiae adipisci!</div>
                    <div class="tab-pane fade" id="list-flask-three" role="tabpanel" aria-labelledby="list-three-list">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae consectetur placeat veniam. Modi cum esse perferendis a ipsam ullam, doloribus, aliquam tempore est fugiat officiis laboriosam, facilis rerum provident odit!</div>
                    <div class="tab-pane fade" id="list-flask-four" role="tabpanel" aria-labelledby="list-four-list">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat cum praesentium illo odit obcaecati accusamus consequatur sint molestiae sit! Pariatur quod ducimus consequuntur eveniet, laboriosam ex reiciendis rerum odio quos?</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md">
              <div class="row">
                <div class="col-12 col-md-5">
                  <div class="list-group" id="list-tab-two" role="tablist">
                      <a class="bg-dark text-light list-group-item list-group-item-action active" id="list-five-list" data-bs-toggle="list" href="#list-flask-five" role="tab" aria-controls="list-home">Plantillas con Jinja y HTML</a>
                      <a class="bg-dark text-light list-group-item list-group-item-action" id="list-six-list" data-bs-toggle="list" href="#list-flask-six" role="tab" aria-controls="list-home">Creación de plantillas</a>
                      <a class="bg-dark text-light list-group-item list-group-item-action" id="list-seven-list" data-bs-toggle="list" href="#list-flask-seven" role="tab" aria-controls="list-home">Uso de variables y bucles</a>
                      <a class="bg-dark text-light list-group-item list-group-item-action" id="list-eight-list" data-bs-toggle="list" href="#list-flask-eight" role="tab" aria-controls="list-home">Herencia de plantillas</a>
                  </div>
                </div>
                <div class="col-12 col-md-7">
                  <div class="tab-content" id="nav-tabContent-two">
                    <div class="tab-pane fade show active" id="list-flask-five" role="tabpanel" aria-labelledby="list-five-list">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ab odit ipsa! Ad a iusto dicta illum facilis, fuga dolor aut consequatur! Provident, et odio temporibus beatae unde quidem dignissimos.</div>
                    <div class="tab-pane fade" id="list-flask-six" role="tabpanel" aria-labelledby="list-six-list">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ab odit ipsa! Ad a iusto dicta illum facilis, fuga dolor aut consequatur! Provident, et odio temporibus beatae unde quidem dignissimos.</div>
                    <div class="tab-pane fade" id="list-flask-seven" role="tabpanel" aria-labelledby="list-seven-list">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ab odit ipsa! Ad a iusto dicta illum facilis, fuga dolor aut consequatur! Provident, et odio temporibus beatae unde quidem dignissimos.0</div>
                    <div class="tab-pane fade" id="list-flask-eight" role="tabpanel" aria-labelledby="list-eight-list">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ab odit ipsa! Ad a iusto dicta illum facilis, fuga dolor aut consequatur! Provident, et odio temporibus beatae unde quidem dignissimos.1</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- finish flask-concepts-one -->
          <!-- start flask-concepts-two -->
          <div id="flask-concepts-two" class="row mt-5">
            <div class="col-md">
              <div class="row">
                <div class="col-12 col-md-5">
                  <div class="list-group" id="list-tab" role="tablist">
                    <a class="bg-dark text-light list-group-item list-group-item-action active" id="list-nine-list" data-bs-toggle="list" href="#list-flask-nine" role="tab" aria-controls="list-home">Uso de filtros y funciones</a>
                    <a class="bg-dark text-light list-group-item list-group-item-action" id="list-ten-list" data-bs-toggle="list" href="#list-flask-ten" role="tab" aria-controls="list-home">Enviar datos a las pantallas</a>
                    <a class="bg-dark text-light list-group-item list-group-item-action" id="list-eleven-list" data-bs-toggle="list" href="#list-flask-eleven" role="tab" aria-controls="list-home">Enlaces y rutas</a>
                    <a class="bg-dark text-light list-group-item list-group-item-action" id="list-twelve-list" data-bs-toggle="list" href="#list-flask-twelve" role="tab" aria-controls="list-home">Archivos estáticos</a>
                  </div>
                </div>
                <div class="col-12 col-md-7">
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-flask-nine" role="tabpanel" aria-labelledby="list-nine-list">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel ab rem enim necessitatibus voluptatibus eligendi illum amet consectetur iste repellendus quae sint, nisi doloremque voluptatem laborum accusamus eos adipisci animi.</div>
                    <div class="tab-pane fade" id="list-flask-ten" role="tabpanel" aria-labelledby="list-ten-list">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel ab rem enim necessitatibus voluptatibus eligendi illum amet consectetur iste repellendus quae sint, nisi doloremque voluptatem laborum accusamus eos adipisci animi.</div>
                    <div class="tab-pane fade" id="list-flask-eleven" role="tabpanel" aria-labelledby="list-eleven-list">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel ab rem enim necessitatibus voluptatibus eligendi illum amet consectetur iste repellendus quae sint, nisi doloremque voluptatem laborum accusamus eos adipisci animi.</div>
                    <div class="tab-pane fade" id="list-flask-twelve" role="tabpanel" aria-labelledby="list-twelve-list">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel ab rem enim necessitatibus voluptatibus eligendi illum amet consectetur iste repellendus quae sint, nisi doloremque voluptatem laborum accusamus eos adipisci animi.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md">
              <div class="row">
                <div class="col-12 col-md-5">
                  <div class="list-group" id="list-tab" role="tablist">
                    <a class="bg-dark text-light list-group-item list-group-item-action active" id="list-nine-list" data-bs-toggle="list" href="#list-flask-thirteen" role="tab" aria-controls="list-home">Manejo de formulario</a>
                    <a class="bg-dark text-light list-group-item list-group-item-action" id="list-ten-list" data-bs-toggle="list" href="#list-flask-fourteen" role="tab" aria-controls="list-home">Crear Formulario</a>
                    <a class="bg-dark text-light list-group-item list-group-item-action" id="list-eleven-list" data-bs-toggle="list" href="#list-flask-fifteen" role="tab" aria-controls="list-home">Validación de datos</a>
                    <a class="bg-dark text-light list-group-item list-group-item-action" id="list-twelve-list" data-bs-toggle="list" href="#list-flask-sixteen" role="tab" aria-controls="list-home">Formulario y validacion de datos con WTForm</a>
                  </div>
                </div>
                <div class="col-12 col-md-7">
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-flask-thirteen" role="tabpanel" aria-labelledby="list-thirteen-list">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium sunt, distinctio, iste cumque minus, accusamus magnam velit corporis vero quia corrupti deserunt quam possimus tempore deleniti architecto reiciendis unde nihil.</div>
                    <div class="tab-pane fade" id="list-flask-fourteen" role="tabpanel" aria-labelledby="list-fourteen-list">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium sunt, distinctio, iste cumque minus, accusamus magnam velit corporis vero quia corrupti deserunt quam possimus tempore deleniti architecto reiciendis unde nihil.</div>
                    <div class="tab-pane fade" id="list-flask-fifteen" role="tabpanel" aria-labelledby="list-fifteen-list">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium sunt, distinctio, iste cumque minus, accusamus magnam velit corporis vero quia corrupti deserunt quam possimus tempore deleniti architecto reiciendis unde nihil.</div>
                    <div class="tab-pane fade" id="list-flask-sixteen" role="tabpanel" aria-labelledby="list-sixteen-list">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium sunt, distinctio, iste cumque minus, accusamus magnam velit corporis vero quia corrupti deserunt quam possimus tempore deleniti architecto reiciendis unde nihil.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- finish flask-concepts-two -->
        </div>
      </div>
      <!-- end flask-course-youtube -->
      <hr>
      <!-- start python-notes-section -->
      <div id="python-notes-section" class="row pt-5 pb-5">
        <h2>Notas</h2>
        <div class="row">
          <div class="col-12 col-md-4 pb-5">
            <h6>Ordenar lista</h6>
            <pre><code [highlight]="orderList" language="python" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
          </div>
          <div class="col-12 col-md-4 pb-5">
            <h6>Trabajo con colas en python</h6>
            <pre><code [highlight]="dequeExample" language="python" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
          </div>
          <div class="col-12 col-md-4 pb-5">
            <h6>Trabajo con format en python (Opción 1)</h6>
            <pre><code [highlight]="formatExample" language="python" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
            <p><b>Resp. </b>Un texto '10' y un número 'otro texto'  </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4 pb-5">
            <h6>Ejemplo de args y kwargs</h6>
            <pre><code [highlight]="argsWord" language="python" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
          </div>
          <div class="col-12 col-md-4 pb-5">
            <h6>Encapsulamiento de atributos y metodos</h6>
            <p>
              Obs. en python se utiliza el __ (doble guión bajo para establecer atributos o métodos privados)
            </p>
            <pre><code [highlight]="privateAttributesMethods" language="python" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
          </div>
          <div class="col-12 col-md-4 pb-5">
            <h6>clases heredadas y polimorfismos</h6>
            <p>Se utiliza isinstance() para comprobar el tipo del objeto.</p>
            <h6><a href="https://github.com/DavidOlmos03/cursoPythonHectorC/blob/main/Fase%203%20-%20Programacion%20Orientada%20a%20Objetos/Tema%2009%20-%20Herencia%20en%20la%20POO/Leccion%202%20-%20Clases%20heredadas%20y%20polimorfismo.ipynb">Polimorfia</a></h6>
            <p>Propiedad de la herencia en que objetos de distintas subclases pueden respoder a una misma acción. <br>
            En python todas las clases son a su vez subclases de la superclase Object, es decir, son polimórficas por defecto.
            </p>
          </div>
        </div>
      </div>
      <!-- end python-notes-section -->
      <hr>
      <div class="row pt-5 pb-5">
        <h2>OBSERVACIONES</h2>
        <p>Atributos pasados por valor o por referencia:</p>
        <ol>
          <li>Por valor se hace una copia.</li>
          <li>Por referencia se pasa la original -> lo que sucede dentro de una función a la cual se le pasa un parametro por referencia, altera el parámetro fuera de la función también.</li>
          <pre class="col-12 col-md-4"><code [highlight]="copyVariable" language="python" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
          <p>Obs. El copy funciona para cualquier tipo de dato.</p>
        </ol>
      </div>
      <hr>
      <div class="row pt-5 pb-5">
        <div class="col-md">
          <h6>Documentación oficial de python</h6>
          <p><a href="https://docs.python.org/3.12/tutorial/index.html">Docs</a></p>
        </div>
        <div class="col-md">
          <h6>Ejemplos gitHub de curso en Udemy</h6>
          <p><a href="https://github.com/DavidOlmos03/cursoPythonHectorC">GitHub</a></p>
        </div>
        <div class="col-md">
          <h6>Hektorprofe</h6>
          <p><a href="https://docs.hektorprofe.net/python/entradas-y-salidas/salida-por-pantalla/ ">HektorProfe</a></p>
        </div>
      </div>
    </div>
  </section>
  <!-- end section -->
