<!-- Portfolio section -->
<section class="section bg-custom-gray" id="portfolio">
  <div class="container">
    <div class="d-flex">
      <h1 class="mb-5"><span class="text-danger">{{'general.my'|translate}} </span>{{'home.portfolio'|translate}}</h1>
    </div>
    <div class="portfolio">
      <!-- star filters/navbar of portfolio -->
      <!-- <div class="filters">
        <a (click)="selectedSection = 'new';" class="fw-bold text-decoration-none" [class.active]="selectedSection === 'new'" [ngClass]="{'text-light': themeSelected=='dark','text-dark': themeSelected=='light'}">
          {{'portfolio.new'|translate}}
        </a>
        <a (click)="selectedSection = 'udemy';" class="fw-bold text-decoration-none" [class.active]="selectedSection === 'udemy'" [ngClass]="{'text-light': themeSelected=='dark','text-dark': themeSelected=='light'}">
          Udemy
        </a>
        <a (click)="selectedSection = 'coursera'" class="fw-bold text-decoration-none" [class.active]="selectedSection === 'coursera'" [ngClass]="{'text-light': themeSelected=='dark','text-dark': themeSelected=='light'}">
          Coursera
        </a>
        <a (click)="selectedSection = 'web'" class="fw-bold text-decoration-none" data-filter=".web" [class.active]="selectedSection === 'web'" [ngClass]="{'text-light': themeSelected=='dark','text-dark': themeSelected=='light'}">
          Web
        </a>
      </div> -->
      <!-- finish  filters/navbar -->
      <div class="portfolio-container">
        <div class="row">
          <!-- <h4>Carousel</h4> -->
          <app-carousel></app-carousel>
        </div>
      </div>
    </div>
  </div>
</section>
