<!-- Portfolio section -->
<section class="section bg-custom-gray" id="portfolio">
  <div class="container">
    <h1 class="mb-5"><span class="text-danger">{{'general.my'|translate}} </span>{{'home.portfolio'|translate}}</h1>
    <div class="portfolio">
      <!-- star filters/navbar of portfolio -->
      <div class="filters">
        <a (click)="selectedSection = 'new';" class="fw-bold text-decoration-none" [class.active]="selectedSection === 'new'" [ngClass]="{'text-light': themeSelected=='dark','text-dark': themeSelected=='light'}">
          {{'portfolio.new'|translate}}
        </a>
        <a (click)="selectedSection = 'udemy';" class="fw-bold text-decoration-none" [class.active]="selectedSection === 'udemy'" [ngClass]="{'text-light': themeSelected=='dark','text-dark': themeSelected=='light'}">
          Udemy
        </a>
        <a (click)="selectedSection = 'coursera'" class="fw-bold text-decoration-none" [class.active]="selectedSection === 'coursera'" [ngClass]="{'text-light': themeSelected=='dark','text-dark': themeSelected=='light'}">
          Coursera
        </a>
        <a (click)="selectedSection = 'web'" class="fw-bold text-decoration-none" data-filter=".web" [class.active]="selectedSection === 'web'" [ngClass]="{'text-light': themeSelected=='dark','text-dark': themeSelected=='light'}">
          Web
        </a>

      </div>
      <!-- finish  filters/navbar -->
      <div class="portfolio-container">
        <div class="row">
          <!-- start portfolio item -->
          <div  id="mongoDB" class="col-12 col-md-6 col-lg-3 mb-2" *ngIf="['udemy'].includes(selectedSection)">
            <div class="card shadow py-1 px-1 bg-dark">
              <div class="portfolio-item px-1">
                <img src="assets/imgs/courseMongodb.jpg" class="img-fluid"
                  alt="courseMongodb">
                <div class="content-holder">
                  <!-- <a class="img-popup" href="assets/imgs/course-2.jpg"></a> -->
                  <div class="text-holder">
                    <h6 class="title text-uppercase">{{'portfolio.description'|translate}}</h6>
                    <p class="subtitle">{{'portfolio.text1'|translate}} mongoDB, <span class="font-weight-bold"><a
                          id="download-link"
                          href="assets/docs/certificados/mongoDB.pdf"
                          download>{{'portfolio.download'|translate}}</a></span> {{'portfolio.text2'|translate}}</p>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <h5 class="card-title fw-bold text-light">Tecnologías</h5>
                    <div class="row g-1">
                      <div class="col-md">
                        <div class="text-center pt-1 d-inline-block icon-mongodb shadow">
                          <p class="fw-bold text-light"><span><img src="assets/icons/mongodb-icon.png" alt="mongodb" style="padding-bottom: 1px; width: 18px; height: 18px;"></span>mongoDB</p>
                        </div>
                      </div>
                    </div>
              </div>
            </div>
          </div>
          <!-- end portfolio item -->
          <!-- start portfolio item -->
          <div id="JavaScript" class="col-12 col-md-6 col-lg-3 mb-2" *ngIf="['udemy', 'web'].includes(selectedSection)">
            <div class="card shadow py-1 px-1 bg-dark">
              <div class="portfolio-item px-1">
                <img src="assets/imgs/course-1.png" class="img-fluid"
                  alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
                <div class="content-holder">
                  <div class="text-holder">
                    <h6 class="title text-uppercase">{{'portfolio.description'|translate}}</h6>
                    <p class="subtitle">{{'portfolio.text1'|translate}} javaScript,
                      <span
                      class="font-weight-bold">
                      <a
                      id="download-link"
                      href="assets/docs/certificados/javaScriptFG.pdf"
                      download>{{'portfolio.download'|translate}}
                      </a>
                      </span>
                      {{'portfolio.text2'|translate}} {{'portfolio.or'|translate}}
                      <a [routerLink]="['/course-js']" class="font-weight-bold"> {{'portfolio.checkit'|translate}}</a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <h5 class="card-title fw-bold text-light">Tecnologías</h5>
                  <div class="row g-1 p-2">
                    <div class="col-4 col-md-6">
                      <div class="text-center pt-1 d-inline-block icon-html shadow">
                        <p class="fw-bold text-light"><span><i class="ti ti-html5 icon-md"></i></span>HTML5</p>
                      </div>
                    </div>
                    <div class="col-4 col-md-6">
                      <div class="text-center pt-1 d-inline-block icon-css shadow">
                        <p class="fw-bold text-light"><span><i class="ti ti-css3 icon-md"></i></span>CSS</p>
                      </div>
                    </div>
                    <div class="col-4 col-md-6">
                      <div class="text-center pt-1 d-inline-block icon-js shadow">
                        <p class="fw-bold text-light"><span><img src="assets/icons/js-icon.png" alt="tailwild" style="padding-bottom: 1px; width: 15px; height: 15px;"></span>javaScript</p>
                      </div>
                    </div>
                  </div>
              </div>
            </div>

          </div>
          <!-- end portfolio item -->
          <!-- start portfolio item -->
          <div id="MundoStem" class="col-12 col-md-6 col-lg-3 mb-2 web" *ngIf="['web'].includes(selectedSection)">
            <div class="card shadow py-1 px-1 bg-light">
              <div id="mundoStem" class="portfolio-item px-1">
                <img src="assets/imgs/mundoSteam.png" class="img-fluid"
                  alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
                <div class="content-holder">
                  <div class="text-holder">
                    <h6 class="title">{{'portfolio.webPage'|translate}} <a href="https://mundostem.netlify.app/"
                        class="font-weight-bold">mundoSteam</a></h6><span class="font-weight-bold text-dark">{{'portfolio.progress'|translate}}</span>
                    <p class="subtitle">{{'portfolio.text3'|translate}}</p>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <h5 class="card-title fw-bold">Tecnologías</h5>
                  <div class="row g-1 p-2">
                    <div class="col-4 col-md-6">
                      <div class="text-center pt-1 d-inline-block icon-html shadow">
                        <p class="fw-bold text-light"><span><i class="ti ti-html5 icon-md"></i></span>HTML5</p>
                      </div>
                    </div>
                    <div class="col-4 col-md-6">
                      <div class="text-center pt-1 d-inline-block icon-css shadow">
                        <p class="fw-bold text-light"><span><i class="ti ti-css3 icon-md"></i></span>CSS</p>
                      </div>
                    </div>
                    <div class="col-4 col-md-6">
                      <div class="text-center pt-1 d-inline-block icon-ts shadow">
                        <p class="fw-bold text-light"><span><img src="assets/icons/ts-color-icon.png" alt="typeScript" style="padding-bottom: 1px; width: 20px; height: 20px;"></span>typeScript</p>
                      </div>
                    </div>
                    <div class="col-4 col-md-6">
                      <div class="text-center pt-1 d-inline-block icon-python shadow">
                        <p class="fw-bold text-light"><span><img src="assets/icons/python-color-icon.png" alt="python" style="padding-bottom: 1px; width: 20px; height: 20px;"></span>Python</p>
                      </div>
                    </div>
                    <div class="col-4 col-md-6">
                      <div class="text-center pt-1 d-inline-block icon-angular shadow">
                        <p class="fw-bold text-light"><span><img src="assets/icons/angular-icon.png" alt="angular" style="padding-bottom: 1px; width: 15px; height: 15px;"></span>Angular</p>
                      </div>
                    </div>
                  </div>
              </div>
            </div>

          </div>
          <!-- end portfolio item -->
          <!-- start portfolio item -->
          <div id="WebSiteEchez" class="col-12 col-md-6 col-lg-3 mb-2 web" *ngIf="['web'].includes(selectedSection)">
            <div class="card shadow py-1 px-1 bg-dark">
              <div  id="webSiteEchez" class="portfolio-item px-1">
                <img src="assets/imgs/webSiteEchez.png" class="img-fluid"
                  alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
                <div class="content-holder">
                  <div class="text-holder pt-2">
                    <h6 class="title"><a href="https://github.com/DavidOlmos03/webSiteEchez"
                        class="font-weight-bold ">webSiteEchez</a></h6>
                    <p class="subtitle">{{'portfolio.text4'|translate}} <span><a id="checkit" (click)="mostrarModal('WebSiteEchezModal')" class="font-weight-bold"> {{'portfolio.checkit'|translate}}</a></span></p>

                  </div>
                </div>
              </div>
              <div class="cart-body">
                <h5 class="card-title fw-bold text-light">Tecnologías</h5>
                  <div class="row g-1 p-2">
                    <div class="col-4 col-md-6">
                      <div class="text-center pt-1 d-inline-block icon-html shadow">
                        <p class="fw-bold text-light"><span><i class="ti ti-html5 icon-md"></i></span>HTML5</p>
                      </div>
                    </div>
                    <div class="col-4 col-md-6">
                      <div class="text-center pt-1 d-inline-block icon-css shadow">
                        <p class="fw-bold text-light"><span><i class="ti ti-css3 icon-md"></i></span>CSS</p>
                      </div>
                    </div>
                    <div class="col-4 col-md-6">
                      <div class="text-center pt-1 d-inline-block icon-js shadow">
                        <p class="fw-bold text-light"><span><img src="assets/icons/js-icon.png" alt="javaScript" style="padding-bottom: 1px; width: 15px; height: 15px;"></span>javaScript</p>
                      </div>
                    </div>
                    <div class="col-4 col-md-6">
                      <div class="text-center pt-1 d-inline-block icon-php shadow">
                        <p class="fw-bold text-light"><span><img src="assets/icons/php-icon.png" alt="php" style="padding-bottom: 1px; width: 15px; height: 15px;"></span>PHP</p>
                      </div>
                    </div>
                  </div>
              </div>
            </div>

          </div>
          <!-- end portfolio item -->
          <!-- start portfolio item -->
          <div id="sqlserver" class="col-12 col-md-6 col-lg-3 mb-2 udemy" *ngIf="['udemy'].includes(selectedSection)">
            <div class="portfolio-item px-1">
              <img src="assets/imgs/courseSQLServer.jpg" class="img-fluid"
                alt="courseSQLServer">
              <div class="content-holder">
                <div class="text-holder">
                  <h6 class="title text-uppercase">{{'portfolio.description'|translate}}</h6>
                  <p class="subtitle">{{'portfolio.text1'|translate}} SQL Server, <span class="font-weight-bold"><a
                        id="download-link"
                        >{{'portfolio.download'|translate}}</a></span> {{'portfolio.text2'|translate}}</p>
                </div>
              </div>
            </div>
          </div>
          <!-- end portfolio item -->
          <!-- start portfolio item -->
          <div id="postgresql" class="col-12 col-md-6 col-lg-3 mb-2 udemy" *ngIf="['udemy'].includes(selectedSection)">
            <div class="portfolio-item px-1">
              <img src="assets/imgs/coursePostgreSQL.png" class="img-fluid"
                alt="coursePostgreSQL">
              <div class="content-holder">
                <div class="text-holder">
                  <h6 class="title text-uppercase">{{'portfolio.description'|translate}}</h6>
                  <p class="subtitle">{{'portfolio.text1'|translate}} postgreSQL, <span class="font-weight-bold"><a
                        id="download-link"
                        href="assets/docs/certificados/postgreSQL.pdf"
                        download>{{'portfolio.download'|translate}}</a></span> {{'portfolio.text2'|translate}}</p>
                </div>
              </div>
            </div>

          </div>
          <!-- end portfolio item -->
          <!-- start portfolio item -->
          <div id="sql" class="col-12 col-md-6 col-lg-3 mb-2 coursera" *ngIf="['coursera'].includes(selectedSection)">
            <div class="portfolio-item px-1">
              <img src="assets/imgs/courseSQL.jpg" class="img-fluid"
                alt="courseSQL">
              <div class="content-holder">
                <div class="text-holder">
                  <h6 class="title text-uppercase">{{'portfolio.description'|translate}}</h6>
                  <p class="subtitle">{{'portfolio.text1'|translate}} SQL, <span class="font-weight-bold"><a
                        id="download-link"
                        href="assets/docs/certificados/SQL.pdf"
                        download>{{'portfolio.download'|translate}}</a></span> {{'portfolio.text2'|translate}}</p>
                </div>
              </div>
            </div>
          </div>
          <!-- end portfolio item -->
          <!-- start portfolio item -->
          <div id="Vuejs" class="col-12 col-md-6 col-lg-3 mb-2 new udemy web" *ngIf="['new','udemy','web'].includes(selectedSection)">
            <div class="card shadow py-1 px-1 bg-dark">
              <div class="portfolio-item px-1">
                <img src="assets/imgs/vuejs-course.jpg" class="img-fluid"
                  alt="vuejs-course">
                <div class="content-holder">
                  <div class="text-holder">
                    <h6 class="title">Vue js</h6>
                    <p class="subtitle">{{'portfolio.text1'|translate}} Vue js, <span class="font-weight-bold"><a
                          href="https://github.com/DavidOlmos03/course-vuejs/tree/main"
                          class="font-weight-bold">{{'portfolio.progress'|translate}}</a></span>
                        </p>
                        <div class="button">
                          <button class="btn btn-danger" (click)="mostrarModal('VuejsModal')">Mostrar Proyectos</button>
                        </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <h5 class="card-title fw-bold text-light">Tecnologías</h5>
                  <div class="row g-1 p-2">
                    <div class="col-4 col-md-6">
                      <div class="text-center pt-1 d-inline-block icon-vuejs shadow">
                        <p class="fw-bold text-light"><span><img src="assets/icons/vuejs-icon.png" alt="vuejs"></span>VUEJS</p>
                      </div>
                    </div>
                    <div class="col-4 col-md-6">
                      <div class="text-center pt-1 d-inline-block icon-css shadow">
                        <p class="fw-bold text-light"><span><i class="ti ti-css3 icon-md"></i></span>CSS</p>
                      </div>
                    </div>
                    <div class="col-4 col-md-6">
                      <div class="text-center pt-1 d-inline-block icon-tailwind shadow">
                        <p class="fw-bold text-light"><span><img src="assets/icons/tailwind-icon.png" alt="tailwild" fw-bold style="padding-bottom: 1px; width: 15px; height: 15px;"></span>Tailwind</p>
                      </div>
                    </div>
                    <div class="col-4 col-md-6">
                      <div class="text-center pt-1 d-inline-block icon-firebase shadow">
                        <p class="fw-bold text-light"><span><img src="assets/icons/firebase-icon.png" alt="firebase" fw-bold></span>firebase</p>
                      </div>
                    </div>
                    <div class="col-4 col-md-6">
                      <div class="text-center pt-1 d-inline-block icon-express shadow">
                        <p class="fw-bold text-light"><span><img src="assets/icons/express-icon.png" alt="express" fw-bold style="width: 20px; height:20px"></span>ExpressJs</p>
                      </div>
                    </div>
                    <div class="col-4 col-md-6">
                      <div class="text-center pt-1 d-inline-block icon-nodejs shadow">
                        <p class="fw-bold text-light"><span><img src="assets/icons/nodejs-icon.png" alt="nodejs" fw-bold style="width: 30px; height:30px"></span>Nodejs</p>
                      </div>
                    </div>
                    <div class="col-4 col-md-6">
                      <div class="text-center pt-1 d-inline-block icon-mongodb shadow">
                        <p class="fw-bold text-light"><span><img src="assets/icons/mongodb-icon.png" alt="mongodb" style="padding-bottom: 1px; width: 18px; height: 18px;"></span>mongoDB</p>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <!-- end portfolio item -->
          <!-- start portfolio item -->
          <div id="streaming-netflix" class="col-12 col-md-6 col-lg-3 mb-2 new udemy web" *ngIf="['new','udemy','web'].includes(selectedSection)">
            <div class="card shadow py-1 px-1">
              <div class="portfolio-item px-1">
                <img src="assets/imgs/laravel-angular-course.jpg" class="img-fluid"
                  alt="laravel-angular-course">
                <div class="content-holder">
                  <div class="text-holder">
                    <h6 class="title">Laravel & Angular</h6>
                    <p class="subtitle">{{'portfolio.text1'|translate}} Laravel {{'general.and'|translate}} Angular, <span class="font-weight-bold text-dark">{{'portfolio.progress'|translate}}</span></p>
                    <span><a id="checkit" (click)="mostrarModal('StreamingNetflixModal')" class="font-weight-bold text-dark"> {{'portfolio.checkit'|translate}}</a></span>
                    <!--Click for download certificate-->
                  </div>
                </div>
              </div>
              <div class="card-body">
                <h5 class="card-title fw-bold">Tecnologías</h5>
                  <div class="row g-1 p-2">
                    <div class="col-4 col-md-6">
                      <div class="text-center pt-1 d-inline-block icon-html shadow">
                        <p class="fw-bold text-light"><span><i class="ti ti-html5 icon-md"></i></span>HTML5</p>
                      </div>
                    </div>
                    <div class="col-4 col-md-6">
                      <div class="text-center pt-1 d-inline-block icon-css shadow">
                        <p class="fw-bold text-light"><span><i class="ti ti-css3 icon-md"></i></span>CSS</p>
                      </div>
                    </div>
                    <div class="col-4 col-md-6">
                      <div class="text-center pt-1 d-inline-block icon-bootstrap shadow">
                        <p class="fw-bold text-light"><span><img src="assets/icons/bootstrap-white-icon.png" alt="Bootstrap" fw-bold style="padding-bottom: 1px; width: 15px; height: 15px;"></span>Bootstrap</p>
                      </div>
                    </div>
                    <div class="col-4 col-md-6">
                      <div class="text-center pt-1 d-inline-block icon-angular shadow">
                        <p class="fw-bold text-light"><span><img src="assets/icons/angular-icon.png" alt="angular" style="padding-bottom: 1px; width: 15px; height: 15px;"></span>Angular</p>
                      </div>
                    </div>
                    <div class="col-4 col-md-6">
                      <div class="text-center pt-1 d-inline-block icon-laravel shadow">
                        <p class="fw-bold text-light"><span><img src="assets/icons/laravel-icon.png" alt="laravel" style="padding-bottom: 1px; width: 15px; height: 15px;"></span>Laravel</p>
                      </div>
                    </div>
                    <div class="col-4 col-md-6">
                      <div class="text-center pt-1 d-inline-block icon-php shadow">
                        <p class="fw-bold text-light"><span><img src="assets/icons/php-icon.png" alt="php" style="padding-bottom: 1px; width: 15px; height: 15px;"></span>PHP</p>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <!-- end portfolio item -->
            <!-- start portfolio item -->
          <div id="Dev-notes" class="col-12 col-md-6 col-lg-3 mb-2 new web" *ngIf="['new','udemy','web'].includes(selectedSection)">
            <div class="card shadow py-1 px-1 bg-dark">
              <div class="portfolio-item px-1">
                <img src="assets/imgs/imgDevNotes/devNotes.png" class="img-fluid"
                  alt="devNotes">
                <div class="content-holder">
                  <div class="text-holder">
                    <h6 class="title">DevNotes</h6>
                    <p class="subtitle">{{'portfolio.devNotesDescription'|translate}}</p>
                    <span><a id="checkit" routerLink="/dev-notes/angular" class="font-weight-bold text-dark"> {{'portfolio.checkit'|translate}}</a></span>
                    <!--Click for download certificate-->
                  </div>
                </div>
              </div>
              <div class="card-body">
                <h5 class="card-title fw-bold">Tecnologías</h5>
                  <div class="row g-1 p-2">
                    <div class="col-4 col-md-6">
                      <div class="text-center pt-1 d-inline-block icon-html shadow">
                        <p class="fw-bold text-light"><span><i class="ti ti-html5 icon-md"></i></span>HTML5</p>
                      </div>
                    </div>
                    <div class="col-4 col-md-6">
                      <div class="text-center pt-1 d-inline-block icon-css shadow">
                        <p class="fw-bold text-light"><span><i class="ti ti-css3 icon-md"></i></span>CSS</p>
                      </div>
                    </div>
                    <div class="col-4 col-md-6">
                      <div class="text-center pt-1 d-inline-block icon-bootstrap shadow">
                        <p class="fw-bold text-light"><span><img src="assets/icons/bootstrap-white-icon.png" alt="Bootstrap" fw-bold style="padding-bottom: 1px; width: 15px; height: 15px;"></span>Bootstrap</p>
                      </div>
                    </div>
                    <div class="col-4 col-md-6">
                      <div class="text-center pt-1 d-inline-block icon-angular shadow">
                        <p class="fw-bold text-light"><span><img src="assets/icons/angular-icon.png" alt="angular" style="padding-bottom: 1px; width: 15px; height: 15px;"></span>Angular</p>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <!-- end portfolio item -->
          <!-- start portfolio item -->
          <div id="Docker" class="col-12 col-md-6 col-lg-3 mb-2 new udemy" *ngIf="['new','udemy'].includes(selectedSection)">
            <div class="card shadow py-1 px-1 bg-dark">
              <div class="portfolio-item px-1">

                <img src="assets/imgs/docker-wall-1.jpeg" class="img-fluid"
                  alt="laravel-angular-course">
                <div class="content-holder with-circle">
                  <div class="circle">
                    <circle-progress
                    [percent]="20"
                    [radius]="40"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="5"
                    [outerStrokeColor]="'#FF3131'"
                    [innerStrokeColor]="'#F85C70'"
                    [animation]="true"
                    [animationDuration]="300"
                    ></circle-progress>
                  </div>
                  <div class="text-holder">
                    <h6 class="title">Docker</h6>
                    <p class="subtitle">{{'portfolio.text1'|translate}} Docker, <span class="font-weight-bold text-dark">{{'portfolio.progress'|translate}}</span></p>
                    <!--Click for download certificate-->
                  </div>
                </div>
              </div>
              <div class="card-body">
                <h5 class="card-title fw-bold text-light">Tecnologías</h5>
                  <div class="row g-1 p-2">
                    <div class="col-md">
                      <div class="text-center pt-1 d-inline-block icon-docker shadow">
                        <p class="fw-bold text-light"><span><img src="assets/icons/docker-icon.png" alt="docker" style="padding-bottom: 1px; width: 20px; height: 20px;"></span>DOCKER</p>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <!-- end portfolio item -->
            <!-- start portfolio item -->
            <div id="Python" class="col-12 col-md-6 col-lg-3 mb-2 new udemy web" *ngIf="['new','udemy','web'].includes(selectedSection)">
            <div class="card shadow py-1 px-1">
              <div class="portfolio-item px-1">
                <img src="assets/imgs/python-course.jpg" class="img-fluid"
                  alt="laravel-angular-course">
                <div class="content-holder">
                  <div class="circle">
                    <circle-progress
                    [percent]="60"
                    [radius]="40"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="5"
                    [outerStrokeColor]="'#FF3131'"
                    [innerStrokeColor]="'#F85C70'"
                    [animation]="true"
                    [animationDuration]="300"
                    ></circle-progress>
                  </div>
                  <div class="text-holder">
                    <h6 class="title">Python</h6>
                    <p class="subtitle">{{'portfolio.text1'|translate}} Python, <span class="font-weight-bold text-dark">{{'portfolio.progress'|translate}}</span></p>
                    <span><a id="checkit" href="https://github.com/DavidOlmos03/cursoPythonHectorC" class="font-weight-bold text-dark"> {{'portfolio.checkit'|translate}}</a></span>
                    <!--Click for download certificate-->
                  </div>
                </div>
              </div>
              <div class="card-body">
                <h5 class="card-title fw-bold">Tecnologías</h5>
                  <div class="row g-1 p-2">
                    <div class="col-4 col-md-6">
                      <div class="text-center pt-1 d-inline-block icon-python shadow">
                        <p class="fw-bold text-light"><span><img src="assets/icons/python-color-icon.png" alt="python" style="padding-bottom: 1px; width: 20px; height: 20px;"></span>Python</p>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <!-- end portfolio item -->
        </div>
      </div>
    </div>
  </div>
</section>
