<!DOCTYPE html>
<html lang="en">
  <head>
    <!--<link rel="stylesheet" href="../../../assets/vendors/themify-icons/css/themify-icons.css">-->
  </head>
 <!-- Portfolio Section -->
 <body>
  <section class="section bg-custom-gray" id="portfolio">
    <div class="container">
      <h1 class="mb-5"><span class="text-danger">{{'general.my'|translate}} </span>{{'home.portfolio'|translate}}</h1>
      <div class="portfolio">
        <div class="filters">
          <a (click)="selectedSection = 'new';" [class.active]="selectedSection === 'new'">
            {{'portfolio.new'|translate}}
          </a>
          <a (click)="selectedSection = 'udemy';" [class.active]="selectedSection === 'udemy'">
            Udemy
          </a>
          <a (click)="selectedSection = 'coursera'" [class.active]="selectedSection === 'coursera'">
            Coursera
          </a>
          <a (click)="selectedSection = 'web'" data-filter=".web" [class.active]="selectedSection === 'web'">
            Web
          </a>

        </div>
        <div class="portfolio-container">
          <div class="row">
            <div class="col-6 col-md-6 col-lg-4" id="new udemy" *ngIf="['udemy'].includes(selectedSection)">
              <div class="portfolio-item">
                <img src="assets/imgs/courseMongodb.jpg" class="img-fluid"
                  alt="courseMongodb">
                <div class="content-holder">
                  <!-- <a class="img-popup" href="assets/imgs/course-2.jpg"></a> -->
                  <div class="text-holder">
                    <h6 class="title text-uppercase">{{'portfolio.description'|translate}}</h6>
                    <p class="subtitle">{{'portfolio.text1'|translate}} mongoDB, <span class="font-weight-bold text-dark"><a
                          id="download-link"
                          href="assets/docs/certificados/mongoDB.pdf"
                          download>{{'portfolio.download'|translate}}</a></span> {{'portfolio.text2'|translate}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-6 col-lg-4" *ngIf="['udemy', 'web'].includes(selectedSection)">
              <div class="portfolio-item">
                <img src="assets/imgs/course-1.png" class="img-fluid"
                  alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
                <div class="content-holder">
                  <div class="text-holder">
                    <h6 class="title text-uppercase">{{'portfolio.description'|translate}}</h6>
                    <p class="subtitle">{{'portfolio.text1'|translate}} javaScript,
                      <span
                      class="font-weight-bold text-dark">
                      <a
                      id="download-link"
                      href="assets/docs/certificados/javaScriptFG.pdf"
                      download>{{'portfolio.download'|translate}}
                      </a>
                      </span>
                      {{'portfolio.text2'|translate}} {{'portfolio.or'|translate}}
                      <a href="course-js" class="font-weight-bold text-dark"> {{'portfolio.checkit'|translate}}</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-6 col-lg-4 web" *ngIf="['web'].includes(selectedSection)">
              <div class="portfolio-item">
                <img src="assets/imgs/mundoSteam.png" class="img-fluid"
                  alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
                <div class="content-holder">
                  <div class="text-holder">
                    <h6 class="title">{{'portfolio.webPage'|translate}} <a href="https://jade-sorbet-7ccb92.netlify.app"
                        class="font-weight-bold text-dark">mundoSteam</a></h6>
                    <p class="subtitle">{{'portfolio.text3'|translate}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-6 col-lg-4 web" *ngIf="['web'].includes(selectedSection)">
              <div class="portfolio-item">
                <img src="assets/imgs/webSiteEchez.png" class="img-fluid"
                  alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
                <div class="content-holder">
                  <div class="text-holder">
                    <h6 class="title">{{'portfolio.webPage'|translate}} <a href="https://github.com/DavidOlmos03/webSiteEchez"
                        class="font-weight-bold text-dark">webSiteEchez</a></h6>
                    <p class="subtitle">{{'portfolio.text4'|translate}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-6 col-lg-4 udemy" *ngIf="['udemy'].includes(selectedSection)">
              <div class="portfolio-item">
                <img src="assets/imgs/courseSQLServer.jpg" class="img-fluid"
                  alt="courseSQLServer">
                <div class="content-holder">
                  <div class="text-holder">
                    <h6 class="title text-uppercase">{{'portfolio.description'|translate}}</h6>
                    <p class="subtitle">{{'portfolio.text1'|translate}} SQL Server, <span class="font-weight-bold text-dark"><a
                          id="download-link"
                          >{{'portfolio.download'|translate}}</a></span> {{'portfolio.text2'|translate}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-6 col-lg-4 udemy" *ngIf="['udemy'].includes(selectedSection)">
              <div class="portfolio-item">
                <img src="assets/imgs/coursePostgreSQL.png" class="img-fluid"
                  alt="coursePostgreSQL">
                <div class="content-holder">
                  <div class="text-holder">
                    <h6 class="title text-uppercase">{{'portfolio.description'|translate}}</h6>
                    <p class="subtitle">{{'portfolio.text1'|translate}} postgreSQL, <span class="font-weight-bold text-dark"><a
                          id="download-link"
                          href="assets/docs/certificados/postgreSQL.pdf"
                          download>{{'portfolio.download'|translate}}</a></span> {{'portfolio.text2'|translate}}</p>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-6 col-md-6 col-lg-4 coursera" *ngIf="['coursera'].includes(selectedSection)">
              <div class="portfolio-item">
                <img src="assets/imgs/courseSQL.jpg" class="img-fluid"
                  alt="courseSQL">
                <div class="content-holder">
                  <div class="text-holder">
                    <h6 class="title text-uppercase">{{'portfolio.description'|translate}}</h6>
                    <p class="subtitle">{{'portfolio.text1'|translate}} SQL, <span class="font-weight-bold text-dark"><a
                          id="download-link"
                          href="assets/docs/certificados/SQL.pdf"
                          download>{{'portfolio.download'|translate}}</a></span> {{'portfolio.text2'|translate}}</p>
                    <!--Click for download certificate-->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-6 col-lg-4 new udemy web" *ngIf="['new','udemy','web'].includes(selectedSection)">
              <div class="portfolio-item">
                <img src="assets/imgs/vuejs-course.jpg" class="img-fluid"
                  alt="vuejs-course">
                <div class="content-holder">
                  <div class="text-holder">
                    <h6 class="title">Vue js</h6>
                    <p class="subtitle">{{'portfolio.text1'|translate}} Vue js, <span class="font-weight-bold text-dark"><a
                          href="https://github.com/DavidOlmos03/course-vuejs/tree/main"
                          class="font-weight-bold text-dark">{{'portfolio.progress'|translate}}</a></span>


                        </p>
                        <div class="button">
                          <button class="btn btn-danger" (click)="mostrarModal()">Mostrar cursos</button>
                        </div>


                    <!--Click for download certificate-->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-6 col-lg-4 new udemy web" *ngIf="['new','udemy','web'].includes(selectedSection)">
              <div class="portfolio-item">
                <img src="assets/imgs/laravel-angular-course.jpg" class="img-fluid"
                  alt="laravel-angular-course">
                <div class="content-holder">
                  <div class="text-holder">
                    <h6 class="title">Laravel & Angular</h6>
                    <p class="subtitle">{{'portfolio.text1'|translate}} Laravel {{'general.and'|translate}} Angular, <span class="font-weight-bold text-dark"><a
                          href="https://github.com/DavidOlmos03/streaming_tipo-netflix"
                          class="font-weight-bold text-dark">{{'portfolio.progress'|translate}}</a></span></p>
                    <!--Click for download certificate-->
                  </div>
                </div>
              </div>
            </div>
          </div>





        </div>
      </div>
    </div>
  </section>
  <!-- core  -->
  <script src="../assets/vendors/jquery/jquery-3.4.1.js"></script>
  <script src="../assets/vendors/bootstrap/bootstrap.bundle.js"></script>

  <!-- bootstrap 3 affix -->
  <script src="../assets/vendors/bootstrap/bootstrap.affix.js"></script>

  <!-- Isotope  -->
  <script src="../assets/vendors/isotope/isotope.pkgd.js"></script>

  <!-- Google mpas -->
  <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtme10pzgKSPeJVJrG1O3tjR6lk98o4w8&callback=initMap"></script>

  <!-- JohnDoe js -->
  <script src="../assets/js/johndoe.js"></script>

 </body>
 </html>
