

footer .icon-html{
  background-color: rgb(255, 145, 0);
}

footer .icon-html:hover{
  background-color: rgb(255, 196, 0);
  cursor: default;
}

footer .icon-css{
  background-color: rgb(0, 42, 255);
}

footer .icon-css:hover{
  background-color: rgb(109, 133, 255);
  cursor: default;
}

footer .icon-bootstrap{
  background-color: rgb(129, 0, 199);

}

footer .icon-bootstrap:hover{
  background-color: rgb(174, 52, 239);
  cursor: default
}

footer .icon-vuejs{
  background-color: rgb(0, 199, 40);

}

footer .icon-vuejs:hover{
  background-color: rgb(0, 208, 42);
  cursor: default
}

footer .icon-tailwind{
  background-color: rgb(48, 192, 253);

}

footer .icon-tailwind:hover{
  background-color: rgb(141, 218, 250);
  cursor: default
}

footer .icon-firebase{
  background-color: rgb(255, 84, 22);

}

footer .icon-firebase:hover{
  background-color: rgb(255, 102, 46);
  cursor: default
}

footer .icon-angular{
  background-color: rgb(255, 0, 0);

}

footer .icon-angular:hover{
  background-color: rgb(255, 58, 58);
  cursor: default
}

footer .icon-laravel{
  background-color: rgb(255, 76, 11);

}

footer .icon-laravel:hover{
  background-color: rgb(251, 92, 34);
  cursor: default
}

footer .icon-docker{
  background-color: rgb(0, 107, 221);

}

footer .icon-docker:hover{
  background-color: rgb(5, 126, 255);
  cursor: default
}

footer .icon-mongodb{
  background-color: rgb(0, 189, 41);

}

footer .icon-mongodb:hover{
  background-color: rgb(0, 224, 49);
  cursor: default
}

footer .icon-js{
  background-color: rgb(255, 208, 0);

}

footer .icon-js:hover{
  background-color: rgb(255, 222, 76);
  cursor: default
}

footer .icon-php{
  background-color: rgb(76, 0, 255);
}

footer .icon-php:hover{
  background-color: rgb(103, 37, 255);
  cursor: default
}

footer .icon-ts{
  background-color: rgb(24, 174, 255);
}

footer .icon-ts:hover{
  background-color: rgb(76, 192, 255);
  cursor: default
}

footer .icon-python{
  background-color: rgb(255, 172, 63);
}

footer .icon-python:hover{
  background-color: rgb(255, 184, 91);
  cursor: default;
}

footer .icon-expressjs{
  background-color: rgb(254, 191, 0);
}

footer .icon-expressjs:hover{
  background-color: rgb(255, 239, 91);
  cursor: default;
}
footer .icon-nodejs{
  background-color: rgb(1, 102, 18);
}

footer .icon-nodejs:hover{
  background-color: rgb(21, 155, 43);
  cursor: default;
}
