.subtittle3 {
    background-color: blueviolet;
    margin-left: 0px;
}
.text {
    margin-left: 23%;
    margin-right: 23%;
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 105px;
    text-align: justify;
}
.menu {
    padding-top: 20px;
}
a[href*="./index"]:hover{
    color:blueviolet;
    font-size: 15px;
}