<!-- start section Vuejs -->
    <section id="vuejs" class="p-5">
        <div class="container">
          <div class="title-section d-flex justify-content-end pb-5">
            <img src="assets/imgs/imgDevNotes/iconVuejs.png" class="img-fluid" alt="" style="width: 60px;">
            <h1 class="text-center">Vuejs</h1>
          </div>
          <!-- <h1 class="text-center"><code class="w-50">&lt;&gt;</code>Vue js<code>&lt;&gt;</code></h1> -->
          <div class="row">
            <div class="col-md-4 pb-5">
              <h6>Nuevo proyecto</h6>
              <pre><code [highlight]="newProjectVuejs" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
            </div>
            <div class="col-md-4 pb-5">
              <h6>FormKit</h6>
              <pre><code [highlight]="formKit" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
            </div>
            <div class="col-md-4 pb-5">
              <h6>Tailwindcss para forms</h6>
              <pre><code [highlight]="tailwindforms" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 pb-5">
              <h6>Firebase</h6>
              <pre><code [highlight]="firebase" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
            </div>
            <div class="col-md-4 pb-5">
              <h6>Nombre único</h6>
              <pre><code [highlight]="randomName" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
            </div>
          </div>
        </div>
    </section>
    <!-- end section -->
