<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Frontend Bootcamp</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
        <div class="container">
            <a href="https://mundostem.netlify.app/" class="navbar-brand">MS</a>
            <a href="dev-notes" class="navbar-brand">DevNotes</a>
            <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navmenu"
            aria-controls="navmenu"
            ><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <a href="dev-notes#angular" class="nav-link ms-auto">Angular</a>
                </ul>
                <ul class="navbar-nav">
                    <a href="dev-notes#vuejs" class="nav-link ms-auto">Vuejs</a>
                </ul>
                <ul class="navbar-nav">
                    <a href="dev-notes#php" class="nav-link ms-auto">PHP</a>
                </ul>
                <ul class="navbar-nav">
                    <a href="dev-notes#python" class="nav-link ms-auto">Python</a>
                </ul>
                <ul class="navbar-nav">
                    <a href="dev-notes#docker" class="nav-link ms-auto">Docker</a>
                </ul>
                <ul class="navbar-nav">
                    <a href="dev-notes#venv" class="nav-link ms-auto">Entorno Virtual</a>
                </ul>
                <ul class="navbar-nav">
                    <a href="dev-notes#cheat-sheet" class="nav-link ms-auto">Guías</a>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Showcase -->
    <section class="bg-dark text-light p-5 pt-lg-0 text-center text-sm-start">
        <div class="container">
            <div class="d-sm-flex align-items-center justify-content-center">
                <div class="mx-auto">
                    <h1>Bienvenido a <span class="text-danger">Dev Notes</span></h1>
                    <!-- Wellcome to Dev Notes -->
                    <p class="lead my-4">
                      Este sitio web es para compartir mis notas sobre diferentes tecnologías que he aprendido en mi viaje en el desarrollo de software. Es sólo una pequeña sección de mi portafolio.
                      <!-- This website is for sharing my notes about different technologies that I have learned on my journey in software development. It is only a small section of my portfolio.
                       -->
                      </p>
                      <button class="btn btn-primary btn-lg" onclick="location.href=''">
                        Dale un vistazo!!
                        <!-- Check it out!! -->
                      </button>
                </div>
                <img class="img-fluid w-25 d-none d-sm-block" src="assets/imgs/imgDevNotes/code-notes-logo.png" alt="">
            </div>
        </div>
    </section>

    <!-- News letter -->
    <!-- <section class="bg-primary text-light p-5">
        <div class="container">
            <div class="d-md-flex justify-content-between">
                <h3 class="mb-3 mb-md-0">
                    Sign Up Our Newsletter
                </h3>
                <div class="input-group news-input">
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Email"
                    >
                    <button class="btn btn-dark" type="button">Button</button>
                  </div>
            </div>
        </div>
    </section> -->

    <!-- start section Angular -->
    <section id="angular" class="p-5">
        <div class="container">
          <div class="title-section d-flex jusify-content-start">
            <h1 class="text-center flex">Angular</h1>

            <img src="assets/imgs/imgDevNotes/angular.svg" class="img-fluid" alt="" style="width: 60px;">

          </div>

          <button
          class="btn btn-primary btn-rounded"
          onclick="location.href='assets/docs/angular-cheat-sheet.pdf'"
          download>
          <span><img src="assets/imgs/imgDevNotes/iconPdf.png" alt="pdfDownload"></span>
            Guía Atajos
          </button>

          <div class="row">
            <div class="col-md-4 pb-5">
              <h6>Nuevo proyecto</h6>
              <pre><code [highlight]="newProjectAngular" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
              <h6>Nuevo servicio sin .spect</h6>
              <pre><code [highlight]="newServiceAngular" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
            </div>
            <div class="col-md-4 pb-5">
              <h6>Nuevo módulo</h6>
              <pre><code [highlight]="newModuleAngular" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
              <h6>Nuevo módulo con routing</h6>
              <pre><code [highlight]="newModuleAngularWithRouting" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
            </div>
            <div class="col-md-4 pb-5">
              <h6>Nuevo componente</h6>
              <pre><code [highlight]="newComponentAngular" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
              <h6>Nuevo componente sin archivo .spect</h6>
              <pre><code [highlight]="newComponentAngularWithoutSpect" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
            </div>
          </div>
          <div class="row pb-5">
            <h1>Errores</h1>
            <h6>Error de firma</h6>
            <p>ng : No se puede cargar el archivo C:\Users\juand\AppData\Roaming\npm\ng.ps1.
              El archivo C:\Users\juand\AppData\Roaming\npm\ng.ps1 no está firmado
              digitalmente. No se puede ejecutar este script en el sistema actual. Para
              obtener más información acerca de la ejecución de scripts y la configuración
              de la directiva de ejecución, consulta about_Execution_Policies en
              https:/go.microsoft.com/fwlink/?LinkID=135170.
              En línea: 1 Carácter: 1</p>
            <h6>Solución</h6>
            <pre><code [highlight]="signErrorAngular" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
          </div>

          <div class="row">
            <h1>Deployment</h1>
            <h4>Gratis</h4>
            <div class="col-md-6 pb-5">
              <h6>GitHub Pages</h6>
              <pre><code [highlight]="deployGitHubAngular" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
            </div>
            <div class="col-md-6 pb-5">
              <h6>Netlify</h6>
              <pre><code [highlight]="deployNetlifyAngular" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
              <p>Sirve para todo proyecto con <span><b>node</b></span></p>
              <div class="card pt-2 w-50 mx-auto">
                <img src="assets/imgs/imgDevNotes/distFile.png" class="card-img-top mx-auto"  alt="distFile">
                <div class="card-body">
                  <p class="card-text text-center">Se crea el archivo dist, este archivo se sube a Netlify</p>
                </div>
              </div>
            </div>
          </div>

        </div>
    </section>
    <!-- end section -->

    <!-- start section Vuejs -->
    <section id="vuejs" class="p-5 bg-dark text-light">
        <div class="container">
          <div class="title-section d-flex justify-content-end">
            <img src="assets/imgs/imgDevNotes/iconVuejs.png" class="img-fluid" alt="" style="width: 60px;">
            <h1 class="text-center">Vuejs</h1>
          </div>
          <!-- <h1 class="text-center"><code class="w-50">&lt;&gt;</code>Vue js<code>&lt;&gt;</code></h1> -->
          <div class="row">
            <div class="col-md-4 pb-5">
              <h6>Nuevo proyecto</h6>
              <pre><code [highlight]="newProjectVuejs" language="html" [lineNumbers]="true"> </code></pre>
            </div>
            <div class="col-md-4 pb-5">
              <h6>FormKit</h6>
              <pre><code [highlight]="formKit" language="html" [lineNumbers]="true"> </code></pre>
            </div>
            <div class="col-md-4 pb-5">
              <h6>Tailwindcss para forms</h6>
              <pre><code [highlight]="tailwindforms" language="html" [lineNumbers]="true"> </code></pre>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 pb-5">
              <h6>Firebase</h6>
              <pre><code [highlight]="firebase" language="html" [lineNumbers]="true"> </code></pre>
            </div>
            <div class="col-md-4 pb-5">
              <h6>Nombre único</h6>
              <pre><code [highlight]="randomName" language="html" [lineNumbers]="true"> </code></pre>
            </div>
          </div>
        </div>
    </section>
    <!-- end section -->

    <!-- start section PHP -->
    <section id="php" class="p-5">
        <div class="container">
          <div class="title-section d-flex jusify-content-start">
            <h1 class="text-center flex">Laravel</h1>
            <img src="assets/imgs/imgDevNotes/iconLaravel.png" class="img-fluid" alt="" style="width: 60px;">
          </div>
          <div class="row">
            <div class="col-md-6">
              <h6>Nuevo proyecto</h6>
              <pre><code [highlight]="newProjectLaravel" language="" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
              <h6>Obs.</h6>
              <ul>
                <li>la versión es opcional</li>
                <li>Los proyectos se almacenan en:  C:\xampp\php\www</li>
                <li>php artisan (me retorna todos los comandos que puedo utilizar)</li>
              </ul>
            </div>
            <div class="col-md-6">

            </div>
          </div>
          <div class="row">
            <h1>Conceptos</h1>
            <ul class="list-group col-md">
              <li class="list-group-item bg-dark text-light">
                <input type="checkbox" class="form-check-input me-1" value="" id="firstCheckboxStretched">
                <label class="form-check-label stretched-link" for="firstCheckboxStretched">Migraciones</label>
              </li>
            </ul>
            <ul  class="list-group col-md">
              <li class="list-group-item bg-dark text-light">
                <input type="checkbox" class="form-check-input me-1" value="" id="secondCheckboxStretched">
                <label class="form-check-label stretched-link" for="secondCheckboxStretched">Sesiones flash</label>
              </li>
            </ul>
            <ul  class="list-group col-md">
              <li class="list-group-item bg-dark text-light">
                <input type="checkbox" class="form-check-input me-1" value="" id="thirdCheckboxStretched">
                <label class="form-check-label stretched-link" for="thirdCheckboxStretched">Laravel freeze</label>
              </li>
            </ul>
            <ul  class="list-group col-md">
              <li class="list-group-item bg-dark text-light">
                <input type="checkbox" class="form-check-input me-1" value="" id="fourthCheckboxStretched">
                <label class="form-check-label stretched-link" for="fourthCheckboxStretched">Blade</label>
              </li>
            </ul>
          </div>
          <div class="row">
            <ul  class="list-group col-md">
              <li class="list-group-item bg-dark text-light">
                <input type="checkbox" class="form-check-input me-1" value="" id="fifthCheckboxStretched">
                <label class="form-check-label stretched-link" for="fifthCheckboxStretched">Artisan</label>
              </li>
            </ul>
            <ul  class="list-group col-md">
              <li class="list-group-item bg-dark text-light">
                <input type="checkbox" class="form-check-input me-1" value="" id="sixthCheckboxStretched">
                <label class="form-check-label stretched-link" for="sixthCheckboxStretched">Namespace</label>
              </li>
            </ul>
            <ul  class="list-group col-md">
              <li class="list-group-item bg-dark text-light">
                <input type="checkbox" class="form-check-input me-1" value="" id="seventhCheckboxStretched">
                <label class="form-check-label stretched-link" for="seventhCheckboxStretched">Composer</label>
              </li>
            </ul>
          </div>
          <div class="row pt-5">
            <div class="d-flex justify-content-start">
              <h2>Curso básico</h2>
              <img src="assets/imgs/imgDevNotes/iconYoutube.png" class="img-fluid" alt="" style="width: 50px;">
            </div>
            <div class="col-12 col-md-6">
              <h6>Videos en español (23 videos)</h6>
              <iframe src="https://www.youtube.com/embed/AE5U8zjkU2s"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div id="laravel-concepts" class="pt-5">
            <!-- start laravel-concepts-one -->
            <div id="laravel-concepts-one" class="row mt-5">
              <div class="col-md">
                <div class="row">
                  <div class="col-12 col-md-5">
                    <div class="list-group" id="list-tab" role="tablist">
                      <a class="bg-dark text-light list-group-item list-group-item-action active" id="list-one-list" data-bs-toggle="list" href="#list-laravel-one" role="tab" aria-controls="list-home">#2 Entornos de desarrollo para laravel</a>
                      <a class="bg-dark text-light list-group-item list-group-item-action" id="list-two-list" data-bs-toggle="list" href="#list-laravel-two" role="tab" aria-controls="list-home">#5 Migraciones en Laravel</a>
                      <a class="bg-dark text-light list-group-item list-group-item-action" id="list-three-list" data-bs-toggle="list" href="#list-laravel-three" role="tab" aria-controls="list-home">#6 Modelos</a>
                      <a class="bg-dark text-light list-group-item list-group-item-action" id="list-four-list" data-bs-toggle="list" href="#list-laravel-four" role="tab" aria-controls="list-home">#7 Relaciones entre modelos</a>
                    </div>
                  </div>
                  <div class="col-12 col-md-7">
                    <div class="tab-content" id="nav-tabContent">
                      <div class="tab-pane fade show active" id="list-laravel-one" role="tabpanel" aria-labelledby="list-one-list">
                        <a href="https://laravel.com/docs/11.x">Documentación oficial</a>
                        <p>Se puede realizar de diferentes maneras la configuración para utilizar Laravel:
                        </p>
                        <ul>
                          <li>Laravel Sail (Con docker)</li>
                          <li>Laravel Homestead (Similar a una maquina virtual)</li>
                          <li>Laravel Valet (Para MacOS)</li>
                          <li>Xampp y Composer</li>
                        </ul>
                      </div>
                      <div class="tab-pane fade" id="list-laravel-two" role="tabpanel" aria-labelledby="list-two-list">
                        <p>project_name->database->migration</p>
                        <p>Nos permite crear el esquema y las tablas de la base de datos, se reconoce por el Schema::create()... <b>De esta forma se crean automaticamente en la base de datos sin necesidad de crearlas a mano.</b>
                          <br>
                          Obs. Nombre de tablas en plural y nombres de modelos en singular
                        </p>
                      </div>
                      <div class="tab-pane fade" id="list-laravel-three" role="tabpanel" aria-labelledby="list-three-list">
                        <h6>Nuevo modelo</h6>
                        <pre><code [highlight]="newModuleLaravel" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
                        <p>
                          project_name->app->model
                          Nos permiten interactuar con la base de datos, esto nos permite escribir $query <br>
                          $fillable contiene los campos que se podan ingresar a la base de datos
                        </p>
                      </div>
                      <div class="tab-pane fade" id="list-laravel-four" role="tabpanel" aria-labelledby="list-four-list">
                        <h6><a href="https://laravel.com/docs/11.x/eloquent-relationships">Documentación relaciones</a></h6>
                        <p>No es necesario llamar el namespace del modelo a utilizar en otro modelo, pues estando en el mismo directorio esto no es necesario.</p>
                        <p>Para una tabla pivote no es necesario crear un modelo, solo se crea la migración, cuando creo las relaciones inversas en dos modelos Laravel entiende
                          que se utiliza una tabla pivote y la busca.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md">
                <div class="row">
                  <div class="col-12 col-md-5">
                    <div class="list-group" id="list-tab-two" role="tablist">
                        <a class="bg-dark text-light list-group-item list-group-item-action active" id="list-five-list" data-bs-toggle="list" href="#list-laravel-five" role="tab" aria-controls="list-home">#8 Autenticación en Laravel</a>
                        <a class="bg-dark text-light list-group-item list-group-item-action" id="list-six-list" data-bs-toggle="list" href="#list-laravel-six" role="tab" aria-controls="list-home">#9 Rutas, controladores y vistas</a>
                        <a class="bg-dark text-light list-group-item list-group-item-action" id="list-seven-list" data-bs-toggle="list" href="#list-laravel-seven" role="tab" aria-controls="list-home">#10 Listar registros</a>
                        <a class="bg-dark text-light list-group-item list-group-item-action" id="list-eight-list" data-bs-toggle="list" href="#list-laravel-eight" role="tab" aria-controls="list-home">#11 Crear registros</a>
                    </div>
                  </div>
                  <div class="col-12 col-md-7">
                    <div class="tab-content" id="nav-tabContent-two">
                      <div class="tab-pane fade show active" id="list-laravel-five" role="tabpanel" aria-labelledby="list-five-list">
                        <h6><a href="https://laravel.com/docs/11.x/starter-kits">Documentación Laravel breeze</a></h6>
                        <pre><code [highlight]="laravelFreeze" language="html" [lineNumbers]="true" class="bg-dark text-light"></code></pre>
                        <p>Se utiliza este paquete para crear un sistema de autenticación completo, se selecciona el motor de plantillas blade de Laravel, su frontend esta creado con
                          Tailwind CSS.
                        </p>
                      </div>
                      <div class="tab-pane fade" id="list-laravel-six" role="tabpanel" aria-labelledby="list-six-list">
                        <p>En routes/web.php estan las rutas con sus respectivos nombres, las cuales apuntan a una vista o a un controlador. <br>
                        En la ruta llamo al controlador y dentro de este creo una función que me retorna la vista, estas vistas se pueden crear con blade.
                        </p>
                        <h6>Nuevo controlador</h6>
                        <pre><code [highlight]="newControllerLaravel" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
                      </div>
                      <div class="tab-pane fade" id="list-laravel-seven" role="tabpanel" aria-labelledby="list-seven-list">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ab odit ipsa! Ad a iusto dicta illum facilis, fuga dolor aut consequatur! Provident, et odio temporibus beatae unde quidem dignissimos.0</div>
                      <div class="tab-pane fade" id="list-laravel-eight" role="tabpanel" aria-labelledby="list-eight-list">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ab odit ipsa! Ad a iusto dicta illum facilis, fuga dolor aut consequatur! Provident, et odio temporibus beatae unde quidem dignissimos.1</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- finish laravel-concepts-one -->
            <!-- start laravel-concepts-two -->
            <div id="laravel-concepts-one" class="row mt-5">
              <div class="col-md">
                <div class="row">
                  <div class="col-12 col-md-5">
                    <div class="list-group" id="list-tab" role="tablist">
                      <a class="bg-dark text-light list-group-item list-group-item-action active" id="list-nine-list" data-bs-toggle="list" href="#list-laravel-nine" role="tab" aria-controls="list-home">#12 Formulario para editar registro</a>
                      <a class="bg-dark text-light list-group-item list-group-item-action" id="list-ten-list" data-bs-toggle="list" href="#list-laravel-ten" role="tab" aria-controls="list-home">#13 Actualizar registro</a>
                      <a class="bg-dark text-light list-group-item list-group-item-action" id="list-eleven-list" data-bs-toggle="list" href="#list-laravel-eleven" role="tab" aria-controls="list-home">#14 Mostrar registros</a>
                      <a class="bg-dark text-light list-group-item list-group-item-action" id="list-twelve-list" data-bs-toggle="list" href="#list-laravel-twelve" role="tab" aria-controls="list-home">#15 Eliminar registros</a>
                    </div>
                  </div>
                  <div class="col-12 col-md-7">
                    <div class="tab-content" id="nav-tabContent">
                      <div class="tab-pane fade show active" id="list-laravel-nine" role="tabpanel" aria-labelledby="list-nine-list">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel ab rem enim necessitatibus voluptatibus eligendi illum amet consectetur iste repellendus quae sint, nisi doloremque voluptatem laborum accusamus eos adipisci animi.</div>
                      <div class="tab-pane fade" id="list-laravel-ten" role="tabpanel" aria-labelledby="list-ten-list">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel ab rem enim necessitatibus voluptatibus eligendi illum amet consectetur iste repellendus quae sint, nisi doloremque voluptatem laborum accusamus eos adipisci animi.</div>
                      <div class="tab-pane fade" id="list-laravel-eleven" role="tabpanel" aria-labelledby="list-eleven-list">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel ab rem enim necessitatibus voluptatibus eligendi illum amet consectetur iste repellendus quae sint, nisi doloremque voluptatem laborum accusamus eos adipisci animi.</div>
                      <div class="tab-pane fade" id="list-laravel-twelve" role="tabpanel" aria-labelledby="list-twelve-list">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel ab rem enim necessitatibus voluptatibus eligendi illum amet consectetur iste repellendus quae sint, nisi doloremque voluptatem laborum accusamus eos adipisci animi.</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md">
                <div class="row">
                  <div class="col-12 col-md-5">
                    <div class="list-group" id="list-tab" role="tablist">
                      <a class="bg-dark text-light list-group-item list-group-item-action active" id="list-nine-list" data-bs-toggle="list" href="#list-laravel-thirteen" role="tab" aria-controls="list-home">#16 Sesiones Flash</a>
                      <a class="bg-dark text-light list-group-item list-group-item-action" id="list-ten-list" data-bs-toggle="list" href="#list-laravel-fourteen" role="tab" aria-controls="list-home">#17 Personalizar mens. error</a>
                      <a class="bg-dark text-light list-group-item list-group-item-action" id="list-eleven-list" data-bs-toggle="list" href="#list-laravel-fifteen" role="tab" aria-controls="list-home">#18 Tabla pivote y relación muchos a muchos</a>
                      <a class="bg-dark text-light list-group-item list-group-item-action" id="list-twelve-list" data-bs-toggle="list" href="#list-laravel-sixteen" role="tab" aria-controls="list-home">#19 Consultar tabla pivote</a>
                    </div>
                  </div>
                  <div class="col-12 col-md-7">
                    <div class="tab-content" id="nav-tabContent">
                      <div class="tab-pane fade show active" id="list-laravel-thirteen" role="tabpanel" aria-labelledby="list-thirteen-list">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium sunt, distinctio, iste cumque minus, accusamus magnam velit corporis vero quia corrupti deserunt quam possimus tempore deleniti architecto reiciendis unde nihil.</div>
                      <div class="tab-pane fade" id="list-laravel-fourteen" role="tabpanel" aria-labelledby="list-fourteen-list">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium sunt, distinctio, iste cumque minus, accusamus magnam velit corporis vero quia corrupti deserunt quam possimus tempore deleniti architecto reiciendis unde nihil.</div>
                      <div class="tab-pane fade" id="list-laravel-fifteen" role="tabpanel" aria-labelledby="list-fifteen-list">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium sunt, distinctio, iste cumque minus, accusamus magnam velit corporis vero quia corrupti deserunt quam possimus tempore deleniti architecto reiciendis unde nihil.</div>
                      <div class="tab-pane fade" id="list-laravel-sixteen" role="tabpanel" aria-labelledby="list-sixteen-list">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium sunt, distinctio, iste cumque minus, accusamus magnam velit corporis vero quia corrupti deserunt quam possimus tempore deleniti architecto reiciendis unde nihil.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- finish laravel-concepts-two -->
            <ul>
              <li>Documentacion: <a href="https://laravel.com/docs/11.x">aquí</a></li>
              <li>#20 Autorización en Laravel</li>
              <li>#21 Filtrar registros</li>
              <li>#22 Autorización adiconal</li>
            </ul>
            <div class="col-12 col-md-6">
              <h6>OBSERVACIONES</h6>
              <ul>
                <li>Las imágenes solo se pueden trabajar mediante solicitudes POST, con solicitudes como PATCH o PUT no va a funcionar.</li>
              </ul>
            </div>
          </div>
        </div>
    </section>
    <!-- end section -->

    <!-- start section python -->
    <section id="python" class="p-5 bg-dark text-light">
      <div class="container">
        <div class="title-section d-flex justify-content-end">
          <img src="assets/imgs/imgDevNotes/iconPython.png" class="img-fluid" alt="" style="width: 60px;">
          <h1 class="text-center">Python</h1>
        </div>
        <!-- <h1 class="text-center"><code class="w-50">&lt;&gt;</code>Vue js<code>&lt;&gt;</code></h1> -->
         <div class="d-flex content-justify-start">
          <h2>Flask</h2>
          <img src="assets/imgs/imgDevNotes/iconFlask.png" class="img-fluid" alt="" style="width: 60px;">
         </div>
        <div id="flask-course-youtube" class="row">
          <div class="col-12 col-md-6 pb-5">
            <h6>Iniciar proyecto en modo debug</h6>
            <pre><code [highlight]="newProjectFlask" language="html" [lineNumbers]="true"> </code></pre>
          </div>
          <div class="col-12 col-md-6 pb-5">
            <h6>Videos en español</h6>
            <iframe src="https://www.youtube.com/embed/W-SfC_V7P6o"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div id="flask-concepts" class="pt-5">
            <!-- start flask-concepts-one -->
            <div id="flask-concepts-one" class="row mt-5">
              <div class="col-md">
                <div class="row">
                  <div class="col-12 col-md-5">
                    <div class="list-group" id="list-tab" role="tablist">
                      <a class="list-group-item list-group-item-action active" id="list-one-list" data-bs-toggle="list" href="#list-flask-one" role="tab" aria-controls="list-home">Depurador de Flask</a>
                      <a class="list-group-item list-group-item-action" id="list-two-list" data-bs-toggle="list" href="#list-flask-two" role="tab" aria-controls="list-home">Rutas y vistas</a>
                      <a class="list-group-item list-group-item-action" id="list-three-list" data-bs-toggle="list" href="#list-flask-three" role="tab" aria-controls="list-home">Variables en Rutas</a>
                      <a class="list-group-item list-group-item-action" id="list-four-list" data-bs-toggle="list" href="#list-flask-four" role="tab" aria-controls="list-home">Escape en HTML</a>
                    </div>
                  </div>
                  <div class="col-12 col-md-7">
                    <div class="tab-content" id="nav-tabContent">
                      <div class="tab-pane fade show active" id="list-flask-one" role="tabpanel" aria-labelledby="list-one-list">
                        <h6>Iniciar proyecto en modo debug</h6>
                        <pre><code [highlight]="newProjectFlask" language="html" [lineNumbers]="true"> </code></pre>
                      </div>
                      <div class="tab-pane fade" id="list-flask-two" role="tabpanel" aria-labelledby="list-two-list">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates sed voluptatum ipsum repellat accusantium doloribus ab laborum, cumque eius temporibus reprehenderit sunt velit accusamus nostrum, rerum delectus alias, molestiae adipisci!</div>
                      <div class="tab-pane fade" id="list-flask-three" role="tabpanel" aria-labelledby="list-three-list">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae consectetur placeat veniam. Modi cum esse perferendis a ipsam ullam, doloribus, aliquam tempore est fugiat officiis laboriosam, facilis rerum provident odit!</div>
                      <div class="tab-pane fade" id="list-flask-four" role="tabpanel" aria-labelledby="list-four-list">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat cum praesentium illo odit obcaecati accusamus consequatur sint molestiae sit! Pariatur quod ducimus consequuntur eveniet, laboriosam ex reiciendis rerum odio quos?</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md">
                <div class="row">
                  <div class="col-12 col-md-5">
                    <div class="list-group" id="list-tab-two" role="tablist">
                        <a class="list-group-item list-group-item-action active" id="list-five-list" data-bs-toggle="list" href="#list-flask-five" role="tab" aria-controls="list-home">Plantillas con Jinja y HTML</a>
                        <a class="list-group-item list-group-item-action" id="list-six-list" data-bs-toggle="list" href="#list-flask-six" role="tab" aria-controls="list-home">Creación de plantillas</a>
                        <a class="list-group-item list-group-item-action" id="list-seven-list" data-bs-toggle="list" href="#list-flask-seven" role="tab" aria-controls="list-home">Uso de variables y bucles</a>
                        <a class="list-group-item list-group-item-action" id="list-eight-list" data-bs-toggle="list" href="#list-flask-eight" role="tab" aria-controls="list-home">Herencia de plantillas</a>
                    </div>
                  </div>
                  <div class="col-12 col-md-7">
                    <div class="tab-content" id="nav-tabContent-two">
                      <div class="tab-pane fade show active" id="list-flask-five" role="tabpanel" aria-labelledby="list-five-list">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ab odit ipsa! Ad a iusto dicta illum facilis, fuga dolor aut consequatur! Provident, et odio temporibus beatae unde quidem dignissimos.</div>
                      <div class="tab-pane fade" id="list-flask-six" role="tabpanel" aria-labelledby="list-six-list">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ab odit ipsa! Ad a iusto dicta illum facilis, fuga dolor aut consequatur! Provident, et odio temporibus beatae unde quidem dignissimos.</div>
                      <div class="tab-pane fade" id="list-flask-seven" role="tabpanel" aria-labelledby="list-seven-list">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ab odit ipsa! Ad a iusto dicta illum facilis, fuga dolor aut consequatur! Provident, et odio temporibus beatae unde quidem dignissimos.0</div>
                      <div class="tab-pane fade" id="list-flask-eight" role="tabpanel" aria-labelledby="list-eight-list">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ab odit ipsa! Ad a iusto dicta illum facilis, fuga dolor aut consequatur! Provident, et odio temporibus beatae unde quidem dignissimos.1</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- finish flask-concepts-one -->
            <!-- start flask-concepts-two -->
            <div id="flask-concepts-one" class="row mt-5">
              <div class="col-md">
                <div class="row">
                  <div class="col-12 col-md-5">
                    <div class="list-group" id="list-tab" role="tablist">
                      <a class="list-group-item list-group-item-action active" id="list-nine-list" data-bs-toggle="list" href="#list-flask-nine" role="tab" aria-controls="list-home">Uso de filtros y funciones</a>
                      <a class="list-group-item list-group-item-action" id="list-ten-list" data-bs-toggle="list" href="#list-flask-ten" role="tab" aria-controls="list-home">Enviar datos a las pantallas</a>
                      <a class="list-group-item list-group-item-action" id="list-eleven-list" data-bs-toggle="list" href="#list-flask-eleven" role="tab" aria-controls="list-home">Enlaces y rutas</a>
                      <a class="list-group-item list-group-item-action" id="list-twelve-list" data-bs-toggle="list" href="#list-flask-twelve" role="tab" aria-controls="list-home">Archivos estáticos</a>
                    </div>
                  </div>
                  <div class="col-12 col-md-7">
                    <div class="tab-content" id="nav-tabContent">
                      <div class="tab-pane fade show active" id="list-flask-nine" role="tabpanel" aria-labelledby="list-nine-list">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel ab rem enim necessitatibus voluptatibus eligendi illum amet consectetur iste repellendus quae sint, nisi doloremque voluptatem laborum accusamus eos adipisci animi.</div>
                      <div class="tab-pane fade" id="list-flask-ten" role="tabpanel" aria-labelledby="list-ten-list">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel ab rem enim necessitatibus voluptatibus eligendi illum amet consectetur iste repellendus quae sint, nisi doloremque voluptatem laborum accusamus eos adipisci animi.</div>
                      <div class="tab-pane fade" id="list-flask-eleven" role="tabpanel" aria-labelledby="list-eleven-list">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel ab rem enim necessitatibus voluptatibus eligendi illum amet consectetur iste repellendus quae sint, nisi doloremque voluptatem laborum accusamus eos adipisci animi.</div>
                      <div class="tab-pane fade" id="list-flask-twelve" role="tabpanel" aria-labelledby="list-twelve-list">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel ab rem enim necessitatibus voluptatibus eligendi illum amet consectetur iste repellendus quae sint, nisi doloremque voluptatem laborum accusamus eos adipisci animi.</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md">
                <div class="row">
                  <div class="col-12 col-md-5">
                    <div class="list-group" id="list-tab" role="tablist">
                      <a class="list-group-item list-group-item-action active" id="list-nine-list" data-bs-toggle="list" href="#list-flask-thirteen" role="tab" aria-controls="list-home">Manejo de formulario</a>
                      <a class="list-group-item list-group-item-action" id="list-ten-list" data-bs-toggle="list" href="#list-flask-fourteen" role="tab" aria-controls="list-home">Crear Formulario</a>
                      <a class="list-group-item list-group-item-action" id="list-eleven-list" data-bs-toggle="list" href="#list-flask-fifteen" role="tab" aria-controls="list-home">Validación de datos</a>
                      <a class="list-group-item list-group-item-action" id="list-twelve-list" data-bs-toggle="list" href="#list-flask-sixteen" role="tab" aria-controls="list-home">Formulario y validacion de datos con WTForm</a>
                    </div>
                  </div>
                  <div class="col-12 col-md-7">
                    <div class="tab-content" id="nav-tabContent">
                      <div class="tab-pane fade show active" id="list-flask-thirteen" role="tabpanel" aria-labelledby="list-thirteen-list">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium sunt, distinctio, iste cumque minus, accusamus magnam velit corporis vero quia corrupti deserunt quam possimus tempore deleniti architecto reiciendis unde nihil.</div>
                      <div class="tab-pane fade" id="list-flask-fourteen" role="tabpanel" aria-labelledby="list-fourteen-list">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium sunt, distinctio, iste cumque minus, accusamus magnam velit corporis vero quia corrupti deserunt quam possimus tempore deleniti architecto reiciendis unde nihil.</div>
                      <div class="tab-pane fade" id="list-flask-fifteen" role="tabpanel" aria-labelledby="list-fifteen-list">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium sunt, distinctio, iste cumque minus, accusamus magnam velit corporis vero quia corrupti deserunt quam possimus tempore deleniti architecto reiciendis unde nihil.</div>
                      <div class="tab-pane fade" id="list-flask-sixteen" role="tabpanel" aria-labelledby="list-sixteen-list">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium sunt, distinctio, iste cumque minus, accusamus magnam velit corporis vero quia corrupti deserunt quam possimus tempore deleniti architecto reiciendis unde nihil.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- finish flask-concepts-two -->
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-12 col-md-4 pb-5">
            <h6>Ordenar lista</h6>
            <pre><code [highlight]="orderList" language="python" [lineNumbers]="true"> </code></pre>
          </div>
          <div class="col-12 col-md-4 pb-5">
            <h6>Trabajo con colas en python</h6>
            <pre><code [highlight]="dequeExample" language="python" [lineNumbers]="true"> </code></pre>
          </div>
          <div class="col-12 col-md-4 pb-5">
            <h6>Trabajo con format en python (Opción 1)</h6>
            <pre><code [highlight]="formatExample" language="python" [lineNumbers]="true"> </code></pre>
            <p><b>Resp. </b>Un texto '10' y un número 'otro texto'  </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 pb-5">
            <h6>Ejemplo de args y kwargs</h6>
            <pre><code [highlight]="argsWord" language="python" [lineNumbers]="true"> </code></pre>
          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <h6>Documentación oficial de python</h6>
            <p><a href="https://docs.python.org/es/3/tutorial/inputoutput.html">Docs</a></p>
          </div>
          <div class="col-md">
            <h6>Ejemplos gitHub de curso en Udemy</h6>
            <p><a href="https://github.com/DavidOlmos03/cursoPythonHectorC">GitHub</a></p>
          </div>
          <div class="col-md">
            <h6>Hektorprofe</h6>
            <p><a href="https://docs.hektorprofe.net/python/entradas-y-salidas/salida-por-pantalla/ ">HektorProfe</a></p>
          </div>
        </div>
      </div>
    </section>
    <!-- end section -->

    <!-- start section docker -->
    <section id="docker" class="p-5">
      <div class="container">
        <div class="title-section d-flex jusify-content-start">
          <h1 class="text-center flex">Docker</h1>

          <img src="assets/imgs/imgDevNotes/iconDocker.png" class="img-fluid" alt="" style="width: 60px;">

        </div>
        <button
          class="btn btn-primary btn-rounded"
          onclick="location.href='assets/docs/docker-cheat-sheet.pdf'"
          download>
          <span><img src="assets/imgs/imgDevNotes/iconPdf.png" alt="pdfDownload"></span>
            Guía Atajos
          </button>
        <div class="row">
          <div class="col-md-4 pb-5">
            <h6>Crear Network</h6>
            <pre><code [highlight]="createNetwork" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
          </div>
          <div class="col-md-4 pb-5">
            <h6>Subir compose</h6>
            <pre><code [highlight]="dockerComposeUp" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
          </div>
          <div class="col-md-4 pb-5">
            <h6>Bajar compose</h6>
            <pre><code [highlight]="dockerComposeDown" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 pb-5">
            <h6>Ver el tamaño de un volumen</h6>
            <pre><code [highlight]="sizeVolumn" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
          </div>
          <div class="col-md-4 pb-5">
            <h6>Conectar contenedor a una red</h6>
            <pre><code [highlight]="connectToNetwork" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
          </div>
          <div class="col-md-4 pb-5">
            <h6>Inspeccionar network creada</h6>
            <pre><code [highlight]="checkNetwork" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 pb-5">
            <h6>Correr contenedor con variables de entorno específicas y en puertos específicos (ejemplo)</h6>
            <p>Obs. Para hacer el salto de linea se utiliza ` en Windows y \ en MacOS o Linux</p>
            <pre><code [highlight]="fullDockerContainer" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
          </div>
        </div>
        <!-- <div class="row">
          <h1>Deployment</h1>
          <h4>Gratis</h4>
          <div class="col-md-6 pb-5">
            <h6>GitHub Pages</h6>
            <pre><code [highlight]="deployGitHubAngular" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
          </div>
          <div class="col-md-6 pb-5">
            <h6>Netlify</h6>
            <pre><code [highlight]="deployNetlifyAngular" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
            <p>Sirve para todo proyecto con <span><b>node</b></span></p>
            <div class="card pt-2 w-50 mx-auto">
              <img src="assets/imgs/imgDevNotes/distFile.png" class="card-img-top mx-auto"  alt="distFile">
              <div class="card-body">
                <p class="card-text text-center">Se crea el archivo dist, este archivo se sube a Netlify</p>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </section>
    <!-- end section docker -->

    <!-- start section html&css -->
    <section id="venv" class="p-5 bg-dark text-light">
      <div class="container">
        <div class="title-section d-flex justify-content-end">
          <img src="assets/imgs/imgDevNotes/iconSimulation.png" class="img-fluid" alt="" style="width: 60px;">
          <h1 class="text-center">Entorno Virtual</h1>
        </div>
        <!-- <h1 class="text-center"><code class="w-50">&lt;&gt;</code>Vue js<code>&lt;&gt;</code></h1> -->
        <div class="row">
          <div class="d-flex content-justify-start">
            <h2>Python</h2>
            <img src="assets/imgs/imgDevNotes/iconPython.png" class="img-fluid" alt="" style="width: 60px;">
          </div>
          <p>Se utilizara el nombre venv para el entorno virtual y se creara en la hubicación donde me encuentro en la consola</p>
          <div class="col-md-4 pb-5">
            <h6>Crear nuevo entorno virtual con python 3</h6>
            <pre><code [highlight]="newVirtualEnviroment" language="html" [lineNumbers]="true"> </code></pre>
          </div>
          <div class="col-md-4 pb-5">
            <h6>Activar entorno virtual</h6>
            <pre><code [highlight]="activateVirtualEnviroment" language="html" [lineNumbers]="true"> </code></pre>
          </div>
          <div class="col-md-4 pb-5">
            <h6>Listar instalaciones hechas en el entorno</h6>
            <pre><code [highlight]="listVirtualEnviroment" language="html" [lineNumbers]="true"> </code></pre>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 pb-5">
            <h6>Crear el archivo requirements.txt</h6>
            <pre><code [highlight]="createRequirementsFile" language="html" [lineNumbers]="true"> </code></pre>
          </div>
        </div>
      </div>
    </section>
    <!-- end section -->
    <section id="cheat-sheet" class="p-5">
      <div class="container">
              <!-- <h1>Ejemplo de uso de <code>&lt;pre&gt;&lt;code&gt;</code> en HTML con Highlight.js</h1> -->
               <h1>Otras guías utiles</h1>
               <div class="row pt-5">
                  <div class="col-md">
                    <div class="d-flex content-justify-start pb-2">
                      <h2>GitHub</h2>
                      <img src="assets/imgs/imgDevNotes/iconGithub.png" class="img-fluid" alt="" style="width: 40px;">
                    </div>
                    <button
                      class="btn btn-primary btn-rounded"
                      onclick="location.href='assets/docs/github-cheat-sheet.pdf'"
                      download>
                      <span><img src="assets/imgs/imgDevNotes/iconPdf2.png" alt="pdfDownload"></span>
                        Guia Atajos
                    </button>
                  </div>
                  <div class="col-md">
                    <div class="d-flex content-justify-start pb-2">
                      <h2>HTML</h2>
                      <img src="assets/imgs/imgDevNotes/iconTags.png" class="img-fluid" alt="" style="width: 40px;">
                    </div>
                    <button
                      class="btn btn-primary btn-rounded"
                      onclick="location.href='assets/docs/html-tags-chart.pdf'"
                      download>
                      <span><img src="assets/imgs/imgDevNotes/iconPdf2.png" alt="pdfDownload"></span>
                        Guia Atajos
                    </button>
                  </div>
                  <div class="col-md">
                    <div class="d-flex content-justify-start pb-2">
                      <h2>MySQL</h2>
                      <img src="assets/imgs/imgDevNotes/iconMysql.png" class="img-fluid" alt="" style="width: 40px;">
                    </div>
                    <button
                      class="btn btn-primary btn-rounded"
                      onclick="location.href='assets/docs/MySQL-Commands-Cheat-Sheet-by-PhoenixNAP.pdf'"
                      download>
                      <span><img src="assets/imgs/imgDevNotes/iconPdf2.png" alt="pdfDownload"></span>
                        Guia Atajos
                    </button>
                  </div>
               </div>


              <!-- <pre>
                <code [highlight]="codeForHighlight"
                      language="ts"
                      [lineNumbers]="true"
                      >
                    </code>
              </pre> -->
      </div>
    </section>

    <div class="container">

    </div>

    <footer class="footer py-3 bg-dark">
      <div class="container">
          <p class="small mb-0 text-light">
              &copy;
              Created By <a href="https://davidolmos-portfolio.netlify.app/"><span class="text-danger">Juan David Ruiz Olmos</span></a>
          </p>
      </div>
    </footer>
</body>
</html>
