<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"> -->
    <!-- <link rel="stylesheet" href="style.css" > -->


    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('pre code').forEach((block) => {
                hljs.highlightElement(block);
            });
        });
    </script> -->

    <title>Frontend Bootcamp</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
        <div class="container">
            <a href="https://mundostem.netlify.app/" class="navbar-brand">MS</a>
            <a href="dev-notes" class="navbar-brand">DevNotes</a>
            <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            ><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <a href="dev-notes#angular" class="nav-link ms-auto">Angular</a>
                </ul>
                <ul class="navbar-nav">
                    <a href="dev-notes#vuejs" class="nav-link ms-auto">Vuejs</a>
                </ul>
                <ul class="navbar-nav">
                    <a href="dev-notes#php" class="nav-link ms-auto">PHP</a>
                </ul>
                <ul class="navbar-nav">
                    <a href="dev-notes#python" class="nav-link ms-auto">Python</a>
                </ul>
                <ul class="navbar-nav">
                    <a href="dev-notes#docker" class="nav-link ms-auto">Docker</a>
                </ul>
                <ul class="navbar-nav">
                    <a href="dev-notes#html&css" class="nav-link ms-auto">HTML/CSS</a>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Showcase -->
    <section class="bg-dark text-light p-5 pt-lg-0 text-center text-sm-start">
        <div class="container">
            <div class="d-sm-flex align-items-center justify-content-center">
                <div class="me-5">
                    <h1>Bienvenido a <span class="text-danger">Dev Notes</span></h1>
                    <!-- Wellcome to Dev Notes -->
                    <p class="lead my-4">
                      Este sitio web es para compartir mis notas sobre diferentes tecnologías que he aprendido en mi viaje en el desarrollo de software. Es sólo una pequeña sección de mi portafolio.
                      <!-- This website is for sharing my notes about different technologies that I have learned on my journey in software development. It is only a small section of my portfolio.
                       -->
                      </p>
                      <button class="btn btn-primary btn-lg" onclick="location.href=''">
                        Dale un vistazo!!
                        <!-- Check it out!! -->
                      </button>
                </div>
                <img class="img-fluid w-25 d-none d-sm-block" src="assets/imgs/imgDevNotes/code-notes-logo.png" alt="">
            </div>
        </div>
    </section>

    <!-- News letter -->
    <!-- <section class="bg-primary text-light p-5">
        <div class="container">
            <div class="d-md-flex justify-content-between">
                <h3 class="mb-3 mb-md-0">
                    Sign Up Our Newsletter
                </h3>
                <div class="input-group news-input">
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Email"
                    >
                    <button class="btn btn-dark" type="button">Button</button>
                  </div>
            </div>
        </div>
    </section> -->

    <!-- start section Angular -->
    <section id="angular" class="p-5">
        <div class="container">
          <div class="title-section d-flex jusify-content-start">
            <h1 class="text-center flex">Angular</h1>

            <img src="assets/imgs/imgDevNotes/angular.svg" class="img-fluid" alt="" style="width: 60px;">

          </div>
          <div class="row">
            <div class="col-md-4 pb-5">
              <h6>Nuevo proyecto</h6>
              <pre><code [highlight]="newProjectAngular" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
            </div>
            <div class="col-md-4 pb-5">
              <h6>Nuevo módulo</h6>
              <pre><code [highlight]="newModuleAngular" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
            </div>
            <div class="col-md-4 pb-5">
              <h6>Nuevo componente</h6>
              <pre><code [highlight]="newComponentAngular" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
            </div>
          </div>
          <div class="row">
            <h1>Errores</h1>
            <h6>Error de firma</h6>
            <p>ng : No se puede cargar el archivo C:\Users\juand\AppData\Roaming\npm\ng.ps1.
              El archivo C:\Users\juand\AppData\Roaming\npm\ng.ps1 no está firmado
              digitalmente. No se puede ejecutar este script en el sistema actual. Para
              obtener más información acerca de la ejecución de scripts y la configuración
              de la directiva de ejecución, consulta about_Execution_Policies en
              https:/go.microsoft.com/fwlink/?LinkID=135170.
              En línea: 1 Carácter: 1</p>
            <h6>Solución</h6>
            <pre class="pb-5"><code [highlight]="signErrorAngular" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
          </div>

          <div class="row">
            <h1>Deployment</h1>
            <h4>Gratis</h4>
            <div class="col-md-6 pb-5">
              <h6>GitHub Pages</h6>
              <pre><code [highlight]="deployGitHubAngular" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
            </div>
            <div class="col-md-6 pb-5">
              <h6>Netlify</h6>
              <pre><code [highlight]="deployNetlifyAngular" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
              <p>Sirve para todo proyecto con <span><b>node</b></span></p>
              <div class="card pt-2 w-50 mx-auto">
                <img src="assets/imgs/imgDevNotes/distFile.png" class="card-img-top mx-auto"  alt="distFile">
                <div class="card-body">
                  <p class="card-text text-center">Se crea el archivo dist, este archivo se sube a Netlify</p>
                </div>
              </div>
            </div>
          </div>

        </div>
    </section>
    <!-- end section -->

    <!-- start section Vuejs -->
    <section id="vuejs" class="p-5 bg-dark text-light">
        <div class="container">
          <div class="title-section d-flex justify-content-end">
            <img src="assets/imgs/imgDevNotes/iconVuejs.png" class="img-fluid" alt="" style="width: 60px;">
            <h1 class="text-center">Vuejs</h1>
          </div>
          <!-- <h1 class="text-center"><code class="w-50">&lt;&gt;</code>Vue js<code>&lt;&gt;</code></h1> -->
          <div class="row">
            <div class="col-md-4 pb-5">
              <h6>Nuevo proyecto</h6>
              <pre><code [highlight]="newProjectVuejs" language="html" [lineNumbers]="true"> </code></pre>
            </div>
            <div class="col-md-4 pb-5">
              <h6>FormKit</h6>
              <pre><code [highlight]="formKit" language="html" [lineNumbers]="true"> </code></pre>
            </div>
            <div class="col-md-4 pb-5">
              <h6>Tailwindcss para forms</h6>
              <pre><code [highlight]="tailwindforms" language="html" [lineNumbers]="true"> </code></pre>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 pb-5">
              <h6>Firebase</h6>
              <pre><code [highlight]="firebase" language="html" [lineNumbers]="true"> </code></pre>
            </div>
            <div class="col-md-4 pb-5">
              <h6>Nombre único</h6>
              <pre><code [highlight]="randomName" language="html" [lineNumbers]="true"> </code></pre>
            </div>
          </div>
        </div>
    </section>
    <!-- end section -->

    <!-- start section PHP -->
    <section id="php" class="p-5">
        <div class="container">
          <div class="title-section d-flex jusify-content-start">
            <h1 class="text-center flex">Laravel</h1>
            <img src="assets/imgs/imgDevNotes/iconLaravel.png" class="img-fluid" alt="" style="width: 60px;">
          </div>
          <div class="row">
            <div class="col-md-4">
              <h6>Nuevo proyecto</h6>
              <pre><code [highlight]="newProjectLaravel" language="" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
              <p>Obs. la versión es opcional  <br>
                Los proyectos se almacenan en:  C:\xampp\php\www</p>
            </div>
            <div class="col-md-4">
              <h6>Nuevo modelo</h6>
              <pre><code [highlight]="newModuleLaravel" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
            </div>
            <div class="col-md-4">
              <h6>Nuevo componente</h6>
              <pre><code [highlight]="newComponentAngular" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
            </div>
            <p>En routes/web.php estan las rutas con sus respectivos nombres, las cuales apuntan a una vista o a un controlador.</p>
          </div>
          <div class="row">
            <h1>Conceptos</h1>
            <ul class="list-group col-md">
              <li class="list-group-item bg-dark text-light">
                <input type="checkbox" class="form-check-input me-1" value="" id="firstCheckboxStretched">
                <label class="form-check-label stretched-link" for="firstCheckboxStretched">Migraciones</label>
              </li>
            </ul>
            <ul  class="list-group col-md">
              <li class="list-group-item bg-dark text-light">
                <input type="checkbox" class="form-check-input me-1" value="" id="secondCheckboxStretched">
                <label class="form-check-label stretched-link" for="secondCheckboxStretched">Sesiones flash</label>
              </li>
            </ul>
            <ul  class="list-group col-md">
              <li class="list-group-item bg-dark text-light">
                <input type="checkbox" class="form-check-input me-1" value="" id="thirdCheckboxStretched">
                <label class="form-check-label stretched-link" for="thirdCheckboxStretched">Laravel freeze</label>
              </li>
              <pre><code [highlight]="laravelFreeze" language="html" [lineNumbers]="true" class="bg-dark text-light"></code></pre>
            </ul>
          </div>
          <div class="row">
            <ul  class="list-group col-md">
              <li class="list-group-item bg-dark text-light">
                <input type="checkbox" class="form-check-input me-1" value="" id="fourthCheckboxStretched">
                <label class="form-check-label stretched-link" for="fourthCheckboxStretched">Blade</label>
              </li>
            </ul>
            <ul  class="list-group col-md">
              <li class="list-group-item bg-dark text-light">
                <input type="checkbox" class="form-check-input me-1" value="" id="fifthCheckboxStretched">
                <label class="form-check-label stretched-link" for="fifthCheckboxStretched">Artisan</label>
              </li>
            </ul>
          </div>

          <div class="row pt-5">
            <div class="d-flex justify-content-start">
              <h2>Curso básico</h2>
              <img src="assets/imgs/imgDevNotes/iconYoutube.png" class="img-fluid" alt="" style="width: 50px;">
            </div>
            <div class="col-12 col-md-6">
              <h6>Videos en español (23 videos)</h6>
              <iframe src="https://www.youtube.com/embed/AE5U8zjkU2s" allowfullscreen></iframe>
            </div>
          </div>
        </div>
    </section>
    <!-- end section -->

    <!-- start section python -->
    <section id="python" class="p-5 bg-dark text-light">
      <div class="container">
        <div class="title-section d-flex justify-content-end">
          <img src="assets/imgs/imgDevNotes/iconPython.png" class="img-fluid" alt="" style="width: 60px;">
          <h1 class="text-center">Python</h1>
        </div>
        <!-- <h1 class="text-center"><code class="w-50">&lt;&gt;</code>Vue js<code>&lt;&gt;</code></h1> -->
        <div class="row">
          <div class="col-md-4 pb-5">
            <h6>Nuevo proyecto</h6>
            <pre><code [highlight]="newProjectVuejs" language="html" [lineNumbers]="true"> </code></pre>
          </div>
          <div class="col-md-4 pb-5">
            <h6>FormKit</h6>
            <pre><code [highlight]="formKit" language="html" [lineNumbers]="true"> </code></pre>
          </div>
          <div class="col-md-4 pb-5">
            <h6>Tailwindcss para forms</h6>
            <pre><code [highlight]="tailwindforms" language="html" [lineNumbers]="true"> </code></pre>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 pb-5">
            <h6>Firebase</h6>
            <pre><code [highlight]="firebase" language="html" [lineNumbers]="true"> </code></pre>
          </div>
          <div class="col-md-4 pb-5">
            <h6>Nombre único</h6>
            <pre><code [highlight]="randomName" language="html" [lineNumbers]="true"> </code></pre>
          </div>
        </div>
      </div>
    </section>
    <!-- end section -->

    <!-- start section docker -->
    <section id="docker" class="p-5">
      <div class="container">
        <div class="title-section d-flex jusify-content-start">
          <h1 class="text-center flex">Docker</h1>

          <img src="assets/imgs/imgDevNotes/iconDocker.png" class="img-fluid" alt="" style="width: 60px;">

        </div>
        <div class="row">
          <div class="col-md-4 pb-5">
            <h6>Nuevo proyecto</h6>
            <pre><code [highlight]="newProjectAngular" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
          </div>
          <div class="col-md-4 pb-5">
            <h6>Nuevo módulo</h6>
            <pre><code [highlight]="newModuleAngular" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
          </div>
          <div class="col-md-4 pb-5">
            <h6>Nuevo componente</h6>
            <pre><code [highlight]="newComponentAngular" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
          </div>
        </div>
        <div class="row">
          <h1>Errores</h1>
          <h6>Error de firma</h6>
          <p>ng : No se puede cargar el archivo C:\Users\juand\AppData\Roaming\npm\ng.ps1.
            El archivo C:\Users\juand\AppData\Roaming\npm\ng.ps1 no está firmado
            digitalmente. No se puede ejecutar este script en el sistema actual. Para
            obtener más información acerca de la ejecución de scripts y la configuración
            de la directiva de ejecución, consulta about_Execution_Policies en
            https:/go.microsoft.com/fwlink/?LinkID=135170.
            En línea: 1 Carácter: 1</p>
          <h6>Solución</h6>
          <pre class="pb-5"><code [highlight]="signErrorAngular" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
        </div>

        <div class="row">
          <h1>Deployment</h1>
          <h4>Gratis</h4>
          <div class="col-md-6 pb-5">
            <h6>GitHub Pages</h6>
            <pre><code [highlight]="deployGitHubAngular" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
          </div>
          <div class="col-md-6 pb-5">
            <h6>Netlify</h6>
            <pre><code [highlight]="deployNetlifyAngular" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
            <p>Sirve para todo proyecto con <span><b>node</b></span></p>
            <div class="card pt-2 w-50 mx-auto">
              <img src="assets/imgs/imgDevNotes/distFile.png" class="card-img-top mx-auto"  alt="distFile">
              <div class="card-body">
                <p class="card-text text-center">Se crea el archivo dist, este archivo se sube a Netlify</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end section docker -->

    <!-- start section html&css -->
    <section id="html&css" class="p-5 bg-dark text-light">
      <div class="container">
        <div class="title-section d-flex justify-content-end">
          <img src="assets/imgs/imgDevNotes/iconTags.png" class="img-fluid" alt="" style="width: 60px;">
          <h1 class="text-center">HTML y CSS</h1>
        </div>
        <!-- <h1 class="text-center"><code class="w-50">&lt;&gt;</code>Vue js<code>&lt;&gt;</code></h1> -->
        <div class="row">
          <div class="col-md-4 pb-5">
            <h6>Nuevo proyecto</h6>
            <pre><code [highlight]="newProjectVuejs" language="html" [lineNumbers]="true"> </code></pre>
          </div>
          <div class="col-md-4 pb-5">
            <h6>FormKit</h6>
            <pre><code [highlight]="formKit" language="html" [lineNumbers]="true"> </code></pre>
          </div>
          <div class="col-md-4 pb-5">
            <h6>Tailwindcss para forms</h6>
            <pre><code [highlight]="tailwindforms" language="html" [lineNumbers]="true"> </code></pre>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 pb-5">
            <h6>Firebase</h6>
            <pre><code [highlight]="firebase" language="html" [lineNumbers]="true"> </code></pre>
          </div>
          <div class="col-md-4 pb-5">
            <h6>Nombre único</h6>
            <pre><code [highlight]="randomName" language="html" [lineNumbers]="true"> </code></pre>
          </div>
        </div>
      </div>
    </section>
    <!-- end section -->

    <div class="container">
            <!-- <h1>Ejemplo de uso de <code>&lt;pre&gt;&lt;code&gt;</code> en HTML con Highlight.js</h1> -->



            <!-- <pre>
              <code [highlight]="codeForHighlight"
                    language="ts"
                    [lineNumbers]="true"
                    >
                  </code>
            </pre> -->
    </div>

    <div class="container">

    </div>


    <!-- Scripts -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> -->

</body>
</html>
