body::before{
  display: block;
  content: '';
  height: 70px;
}

/* .highlight {
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 3px;
} */

pre code {
  position: relative;
  padding-left: 3em; /* Ajusta según sea necesario */
}

pre code::before {
  content: attr(data-line-numbers);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 0.5em;
  background: #91919155; /* Fondo oscuro para los números */
  text-align: right;
  white-space: pre;
  user-select: none;
}


@media (min-width: 768px){
  .news-input{
      width: 50%;
  }
}
