body::before{
  display: block;
  content: '';
  height: 70px;
}

/* .highlight {
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 3px;
} */

pre code {
  position: relative;
  padding-left: 3em; /* Ajusta según sea necesario */
}

pre code::before {
  content: attr(data-line-numbers);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 0.5em;
  background: #91919155; /* Fondo oscuro para los números */
  text-align: right;
  white-space: pre;
  user-select: none;
}

/**Estilo para los videos*/
iframe {
  width: 100%;
  height: 315px;
  border-radius: 1rem;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
  display: flex;
}

iframe:hover{
  width: 101%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.439);
  transition: 0.4s ease-in-out;
}

@media (min-width: 768px){
  .news-input{
      width: 50%;
  }
}
