<!-- Header section -->
<div class="container" id="header">
  <div class="row">
    <div class="col-6">
      <ul class="social-icons pt-3">
        <li class="social-item"><a class="social-link text-light text-decoration-none"
                href="https://www.facebook.com/david.olmos.90226"><i class="ti ti-facebook"
                    aria-hidden="true"></i></a></li>
        <li class="social-item"><a class="social-link text-light text-decoration-none"
                href="https://www.linkedin.com/in/juan-david-ruiz-olmos-27ab22260/"><i class="ti ti-linkedin"
                    aria-hidden="true"></i></a></li>
        <li class="social-item"><a class="social-link text-light text-decoration-none" href="https://github.com/DavidOlmos03"><i
                    class="ti ti-github" aria-hidden="true"></i></a></li>
    </ul>
    </div>
  </div>

  <div class="header-content">
      <h4 class="header-subtitle">{{'home.hello'|translate}} </h4>
      <h1 class="header-title animate__animated animate__slideInDown">Juan David <br>Ruiz Olmos</h1>
      <h6 class="header-mono">{{'home.carreer'|translate}}</h6>

      <a href="assets/docs/resume-en.pdf"
          id="download-link" download>
          <button class="btn btn-primary btn-rounded" onclick="download()"><i class="ti ti-printer pr-2">{{'home.printResume'|translate}}</i></button>
      </a>

  </div>
</div>
