<head>
  <link rel="stylesheet" href="https://unpkg.com/@icon/themify-icons/themify-icons.css">
</head>
<div class="container">
  <div class="row">
    <div class="col-6">
      <ul class="social-icons pt-3">
        <li class="social-item"><a class="social-link text-light"
                href="https://www.facebook.com/david.olmos.90226"><i class="ti ti-facebook"
                    aria-hidden="true"></i></a></li>
        <!--<li class="social-item"><a class="social-link text-light" href="#"><i class="ti-twitter" aria-hidden="true"></i></a></li>
        <li class="social-item"><a class="social-link text-light" href="#"><i class="ti-google" aria-hidden="true"></i></a></li>-->
        <li class="social-item"><a class="social-link text-light"
                href="https://www.instagram.com/j.david.r.olmos/"><i class="ti ti-instagram"
                    aria-hidden="true"></i></a></li>
        <li class="social-item"><a class="social-link text-light" href="https://github.com/DavidOlmos03"><i
                    class="ti ti-github" aria-hidden="true"></i></a></li>
    </ul>
    </div>
    <!--
    <div class="col-6" id="switch-language">
      <app-switch-languages></app-switch-languages>
    </div>
    -->
  </div>

  <div class="header-content">
      <h4 class="header-subtitle">{{'home.hello'|translate}} </h4>
      <h1 class="header-title">Juan David <br>Ruiz Olmos</h1>
      <h6 class="header-mono">{{'home.carreer'|translate}}</h6>

      <a href="assets/docs/resume-en.pdf"
          id="download-link" download>
          <button class="btn btn-primary btn-rounded" onclick="download()"><i class="ti ti-printer pr-2">{{'home.printResume'|translate}}</i></button>
      </a>

  </div>
</div>
