<!DOCTYPE html>

<head>
  <title>My autobiography</title>
  <!--<link rel="stylesheet" href="./index.css">-->
  <link rel="shortcut icon" href="./src/icons/iconJ.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--DE CLASE PHP-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">



</head>

<body>
  <!-- Importar Bootstrap 5 JS (opcional, para funcionalidades como el navbar) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <header>
    <h1>
      My autobiography and Course js
    </h1>
  </header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" (click)="selectedPart = 'firstSteps'">First steps</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="selectedPart = 'career'">Career</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="selectedPart = 'lastYears'">Last years</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Tasks
          </a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item bg-dark" href="assets/courseJS/project_day3/index.html">Task day 3</a>
            <a class="dropdown-item bg-dark" href="assets/courseJS/project_day4/calculator.html">Task day 4</a>
            <a class="dropdown-item bg-dark" href="assets/courseJS/project_day5/cinema.html">Task day 5</a>
            <a class="dropdown-item bg-dark" href="assets/courseJS/project_day6/boletinEstudiante.html">Task day 6</a>
            <a class="dropdown-item bg-dark" href="assets/courseJS/project_day7/Versión 6/index.html">Task day 7</a>
            <a class="dropdown-item bg-dark" href="assets/courseJS/project_day8/index.html">Task day 8</a>
            <a class="dropdown-item bg-dark" href="assets/courseJS/project_day9/index.html">Task day 9</a>
            <a class="dropdown-item bg-dark" href="assets/courseJS/project_day10/index.html">Task day 10</a>
            <a class="dropdown-item bg-dark" href="assets/courseJS/project_day11/index.html">Task day 11</a>
            <a class="dropdown-item bg-dark" href="assets/courseJS/project_day12/index.html">Task day 12</a>
            <a class="dropdown-item bg-dark" href="assets/courseJS/project_day13/index.html">Task day 13</a>
            <a class="dropdown-item bg-dark" href="assets/courseJS/project_day15/index.html">Task day 15</a>
           <!--
            <a class="dropdown-item bg-dark" href="../../../assets/courseJS/project_day16/index.html">Task day 16</a>

           -->

          </div>
        </li>
      </ul>
    </div>
  </nav>
  <!--
    Section firstSteps
  -->
  <div class="row" id="principalBox1" *ngIf="selectedPart == 'firstSteps'">
    <div class="row">
      <div  class="col-md-12">
        <div class="text">
          <h3 class="subtittle">First steps</h3>
          <p>I'm Juan David Ruiz Olmos. I was born into a humble family in <a
              href="https://es.wikipedia.org/wiki/Pitalito">Pitalito, Huila</a>. When I was 2 years old, my family
            moved to Puerto Rico, Caquetá, where I grew up. I studied until 9th grade in this town, but later my
            family relocated to Florencia, the capital of Caquetá, as my sister got into university. After that, we
            moved to Medellín.</p><br>
        </div>
      </div>
    </div>
  </div>
   <!--
    Section career
  -->
  <div class="row" *ngIf="selectedPart == 'career'">
    <div id="carrer">
      <div class="text">
        <h3 class="subtittle subtittle3">Career</h3>
        <p>When I finished high school, I was uncertain about which career to pursue. I had an interest in medicine, but
          studying this field at a public university proved to be quite challenging. Consequently, I decided to start my
          degree in mathematics, a choice that, in retrospect, I believe was one of the best decisions of my life. This
          path ignited a deep love for knowledge and personal growth, as I came to appreciate the complexities of life
          and science in general.</p><br>
      </div>

    </div>

  </div>

  <!--
    Section lastYears
  -->
  <div class="row" *ngIf="selectedPart == 'lastYears'">
    <div id="last_years">
      <div class="text">
        <h3 class="subtittle subtittle2">Last years</h3>
        <p>Two years later, I made another important decision and started my second degree in <span class="career">systems
            engineering</span>. Driven by my passion for knowledge, I decided to leave behind my
          studies in <span class="career">mathematics</span> and embark on this new journey in <span
            class="career">physics</span>.</p><br>
      </div>
    </div>

  </div>

  <!--
    Carousel
   -->
  <div class="row">
    <div class="col-md-8">
      <!--Carousel de boostrap 5.0-->
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/imgs/mark-zukerberg-work-hard.jpg" class="d-block w-100"
              alt="mark-zukerberg-work-hard.jpg">
            <div class="carousel-caption d-none d-md-block">
              <!-- <h5>First slide label</h5>
              <p>Some representative placeholder content for the first slide.</p> -->
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/imgs/AlanTuring.jpeg" class="d-block w-100" alt="AlanTuring.jpeg">
            <div class="carousel-caption d-none d-md-block">
              <!-- <h5>Second slide label</h5>
              <p>Some representative placeholder content for the second slide.</p> -->
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/imgs/BillGates.jpg" class="d-block w-100" alt="BillGates.jpg">
            <div class="carousel-caption d-none d-md-block">
              <!-- <h5>Third slide label</h5>
              <p>Some representative placeholder content for the third slide.</p> -->
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-md-4" id="icons">
      <div class="row">
        <div class="col-md-6"><img src="assets/imgs/iconJ.png"></div>
        <div class="col-md-6"></div>
      </div>
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6"><img src="assets/imgs/course-1.png"></div>
      </div>
    </div>
  </div>
  <!-- <div class="row" *ngIf="selectedPart === 'taskDay3'">
    <app-project-day3></app-project-day3>
  </div> -->

</body>
