p{
  text-align:start;
}

select{
  background-color: transparent;
  color:rgb(255, 255, 255);
}
select option{
  color:rgb(0, 0, 0);
}

.container-switch{
  background-color: rgba(0, 0, 0, 0.382);
  border-radius: 10%;
}

