h3, h2, h1{
  border-left: 2px solid rgb(213, 21, 0);
  padding-left: 1rem;
}
.about-card {
  padding: 60px;
  border-right: 1px solid #dee2e6;
}

.about-card:last-child {
  border-right: none;
}
/* .about-section {
  border-bottom: 1px solid #dee2e6;
} */
.div-about{
  display: none;
}

.social-icons li:hover{
  transform: scale(1.05);
  border-left:  5px solid rgb(0, 92, 213);
  padding-left: 1rem;
  transition: transform 0.6s ease, box-shadow 0.6s ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width:700px){
  .div-about{
    display: block;
    width: 80%;
    margin: auto;
  }
  .about-card {
    border-right: none;
  }
}
