<!-- start About section -->
<div id="about" class="about-section container">
  <div class="row">
    <div class="col-md-4 about-card">
      <h3 class="font-weight-light">{{'about.whoIam'|translate}}</h3>
      <span class="line mb-5"></span>
      <h5 class="mb-3">{{'about.student'|translate}}</h5>
      <p class="mt-20 fs-6">"{{'about.russell'|translate}}"<br>
          -Bertrand Russell
      </p>
      <!--BOTON DESCARGA-->
      <!--../../../assets/docs/curriculum.en-juan-david-ruiz-olmos.pdf-->
      <a href="assets/docs/curriculum.es-juan-david-ruiz-olmos.pdf"
          id="download-link" download>
          <button class="btn btn-outline-danger"><i
                  class="icon-down-circled2"></i>Download My CV</button>
      </a>
    </div>
    <hr class="div-about">
    <div class="col-md-4 about-card">
      <h3 class="font-weight-light">{{'about.personalInfo.personalInfo'|translate}}</h3>
      <span class="line mb-5"></span>
      <ul class="mt40 info list-unstyled fs-6">
          <li><span>{{'about.personalInfo.birthdate'|translate}}</span> : 03/07/1999</li>
          <li><span>{{'about.personalInfo.email'|translate}}</span> : juanda_201001@hotmail.com</li>
          <li><span>{{'about.personalInfo.phone'|translate}}</span> : + (57) 3183695731 </li>
          <!--<li><span>Skype</span> : John_Doe </li>-->
          <li><span>{{'about.personalInfo.address'|translate}}</span> : Medellín Colombia</li>
      </ul>
      <ul class="social-icons pt-3 list-unstyled">
          <li class="social-item"><a class="social-link text-decoration-none" href="https://www.facebook.com/david.olmos.90226"><i
                      class="ti ti-facebook me-5" aria-hidden="true"></i>Facebook</a></li>
          <!--<li class="social-item"><a class="social-link" href="#"><i class="ti-twitter" aria-hidden="true"></i></a></li>
          <li class="social-item"><a class="social-link" href="#"><i class="ti-google" aria-hidden="true"></i></a></li>-->
          <li class="social-item"><a class="social-link text-decoration-none" href="https://www.linkedin.com/in/juan-david-ruiz-olmos-27ab22260/"><i
                      class="ti ti-linkedin me-5" aria-hidden="true"></i>Linkedin</a></li>
          <li class="social-item"><a class="social-link text-decoration-none" href="https://github.com/DavidOlmos03"><i
                      class="ti ti-github me-5" aria-hidden="true"></i>GitHub</a></li>

      </ul>
    </div>
    <hr class="div-about">
    <div class="col-md-4 about-card">
      <h3 class="font-weight-light">{{'general.experience'|translate}}</h3>
      <span class="line mb-5"></span>
      <div class="row">
          <div class="col-1 text-danger pt-1"><i class="ti ti-widget icon-lg"></i></div>
          <div class="col-10 ml-auto mr-3">
              <h6>{{'about.Experience.php'|translate}}</h6>
              <p class="subtitle fs-6">{{'about.Experience.phpProject'|translate}}</p>
              <hr>
          </div>
      </div>
      <div class="row">
          <div class="col-1 text-danger pt-1"><i class="ti ti-paint-bucket icon-lg"></i></div>
          <div class="col-10 ml-auto mr-3">
              <h6>mundoStem</h6>
              <p class="subtitle fs-6">{{'about.Experience.mundoStem'|translate}}</p>
              <hr>
          </div>
      </div>
    </div>
  </div>
</div>




