
<div data-spy="scroll" data-target=".navbar" data-offset="40" id="home" class="mat-app-background">

    <header class="header">
      <app-header></app-header>
    </header>

    <nav class="navbar sticky-top navbar-expand-lg" [ngClass]="{'navbar-light bg-light': themeSelected == 'light', 'navbar-dark bg-dark': themeSelected == 'dark'}" data-spy="affix" data-offset-top="510">
        <div class="container d-flex justify-content-end">
          <button class="navbar-toggler me-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse mt-sm-20 navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <!-- <li class="nav-item mx-2">
                <a routerLink="" class="nav-link">{{'home.home'|translate}}</a>
              </li> -->
              <li class="nav-item mx-2">
                <a routerLinkActive="active" routerLink="/about" class="nav-link">{{'home.about'|translate}}</a>
              </li>
              <li class="nav-item mx-2">
                <a routerLinkActive="active" routerLink="/resume" class="nav-link">{{'home.resume'|translate}}</a>
              </li>
              <li class="nav-item  mx-2">
               <a routerLinkActive="active" routerLink="/portfolio" class="nav-link">{{'home.portfolio'|translate}}</a>
             </li>
             <li class="nav-item  mx-2">
               <a routerLinkActive="active" routerLink="/contact" class="nav-link">{{'home.contact'|translate}}</a>
             </li>
            </ul>
            <!-- <ul class="navbar-nav ml-auto">

            </ul> -->
            <ul class="navbar-nav brand">
             <img src="assets/imgs/avatar.jpeg" alt="" class="brand-img">
             <li class="brand-txt">
               <h5 class="brand-title">David Olmos</h5>
               <div class="brand-subtitle">Software Development Student</div>
             </li>
           </ul>
          </div>
        </div>
        <div class="row me-5">
          <div class="col-6 col-md-6" id="switch-language">
            <app-switch-languages></app-switch-languages>
          </div>
          <div class="col-6 col-md-6" id="switch-theme">
            <app-switch-theme></app-switch-theme>
          </div>
        </div>
    </nav>

    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>

    <footer class="footer py-3 mt-5">
        <div class="container">
            <p class="small mb-0 text-light">
                &copy;
                Created With <i
                    class="ti ti-heart text-danger"></i> By Juan David Ruiz Olmos
            </p>
        </div>
    </footer>

</div>


