.header {
  position: relative;
  height: 80vh;
  min-height: 600px;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../assets/imgs/principalImage5.webp);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../assets/imgs/principalImage5.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}

.content-wrapper {
  min-height: calc(100vh - 150px); /* Altura mínima, ajustando por el tamaño del header y footer */
  padding: 20px; /* Ajuste del padding según sea necesario */
  padding-top: 5rem;
}

router-outlet {
  display: block; /* Asegura que el router-outlet se comporte como un bloque */
  width: 100%; /* Ancho completo */
  height: 100%; /* Altura completa */
}
.nav-item {
  border-bottom: none; /* Por defecto no tiene borde */
  color: rgb(200, 200, 200); /* Color de texto por defecto */
  transition: border-bottom 0.3s ease, color 0.3s ease;
}

.nav-link.active {
  border-bottom: 5px solid rgb(213, 21, 0);
}


@media (max-width: 767.98px) {
  .header {
    height: 500px;
    min-height: 500px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.sticky-top {
 position: -webkit-sticky;
 position: sticky;
 top: 0;
 z-index: 1020; /* Asegúrate de que esté por encima de otros elementos */
}

.footer{
 background-color: #00023874;
}

/* De jonhdoe */


.navbar .brand {
 text-align: center;
}

.navbar .brand .brand-img {
 position: absolute;
 left: 50%;
 top: 50%;
 -webkit-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
         transform: translate(-50%, -50%);
 -weblit-transform: translate(-50%, -50%);
 border: 10px solid white;
 -webkit-transition: .5s !important;
 transition: .5s !important;
 -weblit-transition: .5s !important;
 z-index: 2;
 box-shadow: 0 5px 1px rgba(128, 128, 128, 0.13);
 width: 170px;
 border-radius: 50%;
}

.navbar .brand .brand-txt {
 position: relative;
 bottom: -20px;
 opacity: 0;
 -webkit-transition: 1s;
 transition: 1s;
 -weblit-transition: 1s;
 z-index: 1;
}

.navbar .brand .brand-txt .brand-subtitle {
 font-size: 13px;
 color: #888;
}

@media (max-width: 991.98px) {
 .navbar .brand {
   display: none;
 }
}

.navbar.affix .brand-txt {
 bottom: 0;
 opacity: 1;
}

.navbar.affix .brand-img {
 top: -10px;
 opacity: 0;
}



 /* PROBLEM FONT WEIGHT HERE */

 @media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
