<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="This is the David Olmos portfolio">
    <meta name="author" content="DavidOlmos">
    <title>David Olmos portfolio</title>
    <link rel="stylesheet" href="https://unpkg.com/@icon/themify-icons/themify-icons.css">
    <link rel="shortcut icon" href="assets/imgs/iconJ.png">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <a href="components.html" class="btn btn-primary btn-component" data-spy="affix" data-offset-top="600"><i
            class="ti-shift-left-alt"></i> Components</a>
    <header class="header">
      <app-header></app-header>
    </header>

    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white" data-spy="affix" data-offset-top="510">

        <div class="navbar-menu container">
          <button class="navbar-toggler ml-auto" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse mt-sm-20 navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a href="#home" class="nav-link">{{'home.home'|translate}}</a>
              </li>
              <li class="nav-item">
                <a href="#about" class="nav-link">{{'home.about'|translate}}</a>
              </li>
              <li class="nav-item">
                <a href="#resume" class="nav-link">{{'home.resume'|translate}}</a>
              </li>
            </ul>
            <ul class="navbar-nav brand">
              <img src="assets/imgs/avatar.jpeg" alt="" class="brand-img">
              <li class="brand-txt">
                <h5 class="brand-title">David Olmos</h5>
                <div class="brand-subtitle">Software Development Student</div>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a href="#portfolio" class="nav-link">{{'home.portfolio'|translate}}</a>
              </li>
              <li class="nav-item">
                <a href="#blog" class="nav-link">{{'home.blog'|translate}}</a>
              </li>
              <li class="nav-item last-item">
                <a href="#contact" class="nav-link">{{'home.contact'|translate}}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" id="switch-language">
            <app-switch-languages></app-switch-languages>
          </div>
        </div>
    </nav>

    <!--
      Sección para el about
    -->
    <div class="mt-5">
        <app-about></app-about>
    </div>
    <!--
      Sección para el resume
    -->
    <div class="mt-5">
      <app-resume> </app-resume>
    </div>
    <!--
      Sección para el portfolio
    -->
    <div class="mt-5">
      <app-portfolio></app-portfolio>
    </div>


    <!-- End of portfolio section -->

    <!-- Sección para contacto -->
    <div class="mt-5">
      <app-contact></app-contact>
    </div>
    <footer class="footer py-3 mt-5">
        <div class="container">
            <p class="small mb-0 text-light">
                &copy;
                Created With <i
                    class="ti-heart text-danger"></i> By <a href="http://devcrud.com" target="_blank"><span
                        class="text-danger" title="Bootstrap 4 Themes and Dashboards">DevCRUD</span></a>
                        and Juan David Ruiz Olmos
            </p>
        </div>
    </footer>


</body>

</html>

