<!-- <div class="row list">
  <div class="col-6 col-md-6">

  </div>
  <div class="col-6 col-md-6">

  </div>
</div> -->
<div class="contenedor">
  <div class="circle">
    <circle-progress
    [percent]="58"
    [radius]="40"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
  </div>

  <h1>Proyectos <br><span>Realizados</span></h1>
  <ul class="row list">
    <div class="col-6 col-md-6">
      <li><h6><a href="https://guitarla-project-vuejs.netlify.app" class="text-uppercase list-item">GuitarLA</a></h6></li>
      <li><h6><a href="https://pacientes-veterinaria-vuejs.netlify.app" class="text-uppercase list-item">Admin Pacientes</a></h6></li>
      <li><h6><a href="https://planificador-gastos-vuejs.netlify.app" class="text-uppercase list-item">Admin Gastos</a></h6></li>
      <li><h6><a href="https://conversor-criptomonedas-vuejs.netlify.app" class="text-uppercase list-item">Cripto Vue</a></h6></li>
      <li><h6><a href="https://buscador-clima-vuejs.netlify.app" class="text-uppercase list-item">Buscador Clima</a></h6></li>
      <li><h6><a href="https://crm-vue-project.netlify.app" class="text-uppercase list-item">CRM</a></h6></li>
    </div>
    <div class="col-6 col-md-6">
      <li><h6><a href="https://bebidas-vue-project.netlify.app" class="text-uppercase list-item">Bebidas</a></h6></li>
      <li><h6><a href="https://vue-bienes-raices-project.netlify.app" class="text-uppercase list-item">Bienes Raices</a></h6></li>
      <!-- {{ description}} -->
    </div>
</ul>
</div>

