<!-- <div class="row list">
  <div class="col-6 col-md-6">

  </div>
  <div class="col-6 col-md-6">

  </div>
</div> -->
<ul class="row list">
    <h1>Cursos <br><span>Realizados</span></h1>
    <div class="col-6 col-md-6">
      <li><h6><a href="https://voluble-cendol-011db2.netlify.app/" class="text-uppercase list-item">GuitarLA</a></h6></li>
      <li><h6><a href="https://lighthearted-sundae-dacbbc.netlify.app" class="text-uppercase list-item">Admin Pacientes</a></h6></li>
      <li><h6><a href="https://sweet-froyo-f51a05.netlify.app" class="text-uppercase list-item">Admin Gastos</a></h6></li>
      <li><h6><a href="https://thriving-sprinkles-e542e6.netlify.app" class="text-uppercase list-item">Cripto Vue</a></h6></li>
    </div>
    <div class="col-6 col-md-6">
      <!-- <li><h6><a href="https://voluble-cendol-011db2.netlify.app/" class="text-uppercase list-item">GuitarLA</a></h6></li>
      <li><h6><a href="https://lighthearted-sundae-dacbbc.netlify.app" class="text-uppercase list-item">Admin Pacientes</a></h6></li>
      <li><h6><a href="https://sweet-froyo-f51a05.netlify.app" class="text-uppercase list-item">Admin Gastos</a></h6></li>
      <li><h6><a href="https://thriving-sprinkles-e542e6.netlify.app" class="text-uppercase list-item">Cripto Vue</a></h6></li> -->
    </div>
</ul>
