.contenedor{

  border-radius: 1rem;
  margin: 1.5rem 1rem 1.5rem 1rem;
}
.list{
  background-image: url(../../../../assets/imgs/vuejs-modal.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  border: none;
}
h1{
  text-align: center;
}
h1 span{
  color: rgb(3, 191, 91);
}
li{
  list-style-type: none;
  padding-top: 1rem;
}
li a{
  color: black;
  text-decoration: none;
}

li a:hover{
  color:rgb(3, 191, 91);
}
