 <!-- start section venv -->
 <section id="venv" class="p-5">
  <div class="container">
    <div class="title-section d-flex justify-content-end pb-5">
      <img src="assets/imgs/imgDevNotes/iconSimulation.png" class="img-fluid" alt="" style="width: 60px;">
      <h1 class="text-center">Entorno Virtual</h1>
    </div>
    <!-- <h1 class="text-center"><code class="w-50">&lt;&gt;</code>Vue js<code>&lt;&gt;</code></h1> -->
    <div class="row">
      <div class="d-flex content-justify-start">
        <h2>Python</h2>
        <img src="assets/imgs/imgDevNotes/iconPython.png" class="img-fluid" alt="" style="width: 60px;">
      </div>
      <p>Se utilizara el nombre venv para el entorno virtual y se creara en la hubicación donde me encuentro en la consola</p>
      <div class="col-md-4 pb-5">
        <h6>Crear nuevo entorno virtual con python 3</h6>
        <pre><code [highlight]="newVirtualEnviroment" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
      </div>
      <div class="col-md-4 pb-5">
        <h6>Activar entorno virtual</h6>
        <pre><code [highlight]="activateVirtualEnviroment" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
      </div>
      <div class="col-md-4 pb-5">
        <h6>Listar instalaciones hechas en el entorno</h6>
        <pre><code [highlight]="listVirtualEnviroment" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 pb-5">
        <h6>Crear el archivo requirements.txt</h6>
        <pre><code [highlight]="createRequirementsFile" language="html" [lineNumbers]="true" class="bg-dark text-light"> </code></pre>
      </div>
    </div>
  </div>
</section>
<!-- end section -->
