.social-icons {
 list-style-type: none;
 padding-left: 0;
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: justify;
 -webkit-justify-content: space-between;
     -ms-flex-pack: justify;
         justify-content: space-between;
 max-width: 180px;
}

.social-icons .social-link {
 font-size: 18px;
}
